
                <div class="form-group form-inline mb-3">
                    <label class="form-label" for="adddressType">Type of Address</label>
                    <select class="form-control <% if(typeof(addressType) !== 'undefined') { %><%= addressType.class %><% } %>"
                        type="text" name="addressType" value="" aria-label="addressType" aria-describedby="addressType-basic-addon">
                    <option <% if(typeof(addressType) !== 'undefined' && addressType.value == 'home') { %>selected="selected"<% } %>>home</option>
                        <option <% if(typeof(addressType) !== 'undefined' && addressType.value == 'work') { %>selected="selected"<% } %>>work</option>
                        <option <% if(typeof(addressType) !== 'undefined' && addressType.value == 'other') { %>selected="selected"<% } %>>other</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">No. & Street</span>
                    </div>
                    <input class="form-control <% if(typeof(locals.addressStreet) !== 'undefined') { %><%= addressStreet.class %>><% } %>" type="text" name="addressStreet" value="<% if(typeof(addressStreet) !== 'undefined' && typeof(addressStreet.value) !== 'undefined') { %><%= addressStreet.value %><% } %>"
                        aria-label="Street Address" aria-describedby="addressStreet-basic-addon" size="25" required>
                    <div class="invalid-feedback">
                    <% if(typeof(addressStreet) !== 'undefined' && addressStreet.class == 'is-invalid') { %><%= addressStreet.message %><% } else { %>You must provide an address.<% } %>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Unit/Apt/Suite #</span>
                    </div>
                    <input class="form-control <% if(typeof(locals.secondAddressStreet) !== 'undefined') { %><%= secondAddressStreet.class %>><% } %>" type="text" name="secondAddressStreet" value="<% if(typeof(secondAddressStreet) !== 'undefined' && typeof(secondAddressStreet.value) !== 'undefined') { %><%= secondAddressStreet.value %><% } %>"
                        aria-label="Street Address" aria-describedby="addressStreet-basic-addon" size="25" required>
                    <div class="invalid-feedback">
                    <% if(typeof(secondAddressStreet) !== 'undefined' && secondAddressStreet.class == 'is-invalid') { %><%= secondAddressStreet.message %><% } else { %>You must provide an unit/apt/suite.<% } %>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addressLocality-basic-addon">Community / Town /
                                City</span>
                        </div>
                        <input id="addressLocality"
                            class="form-control <% if(typeof(addressLocality) !== 'undefined') { %><%= addressLocality.class %><% } %>"
                            type="text" name="addressLocality"
                            value="<% if(typeof(addressLocality) !== 'undefined' && typeof(addressLocality.value) !== 'undefined') { %><%= addressLocality.value %><% } %>"
                            aria-label="Address" aria-describedby="addressLocality-basic-addon" size="25" required>
                        <div id="invalid-street" class="invalid-feedback">
                            <% if(typeof(addressLocality) !== 'undefined' && addressLocality.class == 'is-invalid') { %><%= addressLocality.message %><% } else { %>
                            You must provide an address location.
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="form-group form-inline">
                        <label class="form-label" for="addressRegion">Parish / State</label>
                        <select class="form-control <% if(typeof(addressRegion) !== 'undefined') { %><%= addressRegion.class %><% } %>" type="text" name="addressRegion" value=""
                            aria-label="Address Region" aria-describedby="addressRegion-basic-addon">
                        <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'Kingston & St. Andrew') { %>selected="selected"<% } %>>Kingston & St. Andrew</option>
                            <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'St. Catherine') { %>selected="selected"<% } %>>St. Catherine</option>
                            <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'Clarendon') { %>selected="selected"<% } %>>Clarendon</option>
                            <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'Manchester') { %>selected="selected"<% } %>>Manchester</option>
                            <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'St. Elizabeth') { %>selected="selected"<% } %>>St. Elizabeth</option>
                            <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'Westmoreland') { %>selected="selected"<% } %>>Westmoreland</option>
                            <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'Hanover') { %>selected="selected"<% } %>>Hanover</option>
                            <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'St. James') { %>selected="selected"<% } %>>St. James</option>
                            <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'Trelawny') { %>selected="selected"<% } %>>Trelawny</option>
                            <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'St. Ann') { %>selected="selected"<% } %>>St. Ann</option>
                            <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'St. Mary') { %>selected="selected"<% } %>>St. Mary</option>
                            <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'Portland') { %>selected="selected"<% } %>>Portland</option>
                            <option <% if(typeof(addressRegion) !== 'undefined' && addressRegion.value == 'St. Thomas') { %>selected="selected"<% } %>>St. Thomas</option>
                        </select>
                        <div class="invalid-feedback">
                        <% if(typeof(addressRegion) !== 'undefined' && addressRegion.class == 'is-invalid') { %><%= addressRegion.message %><% } else { %>You must select a valid Parish / State. <% } %>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="form-group form-inline">
                        <label class="form-label" for="addressPostcode">Postcode</label>
                        <input class="form-control <% if(typeof(locals.addressPostcode) !== 'undefined') { %><%= addressPostcode.class %><% } %>" type="text" name="addressPostcode" value="<% if(typeof(addressPostcode) !== 'undefined' && typeof(addressPostcode.value) !== 'undefined') { %><%= addressPostcode.value %><% } %>"
                            aria-label="Postal Code" aria-describedby="addressPostcode-basic-addon" size="5" required>
                        <div class="invalid-feedback">
                        <% if(typeof(addressPostcode) !== 'undefined' && addressPostcode.class == 'is-invalid') { %><%= addressPostcode.message %><% } else { %>Please enter a valid postal code.<% } %>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="form-group form-inline">
                        <label class="form-label" for="addressCountry">Country</label>
                        <select class="form-control <% if(typeof(addressCountry) !== 'undefined') { %><%= addressCountry.value %><% } %>" type="text" name="addressCountry"
                            value="" aria-label="Country" aria-describedby="addressCountry-basic-addon">
                            <option>Jamaica</option>
                        </select>
                        <div class="invalid-feedback">
                        <% if(typeof(addressCountry) !== 'undefined' && addressCountry.class == 'is-invalid') { %><%= addressCountry.message %><% } else { %>You must select a country.<% } %>
                        </div>
                    </div>
                </div>
