<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'per') { %>show active<% } %>" id="permission-pane"
    role="tabpanel" aria-labelledby="permission-tab">
    <h2 class="pane-h2">Permissions</h2>
    <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" id="permissionsTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link <% if(typeof(pane) !== 'undefined' && pane == 'per-ass') { %>active<% } %>"
                id="permission-assign-tab" data-toggle="tab" href="#permission-assign-pane" role="tab" aria-controls="all"
                aria-selected="true">
                <%- include('../assets/symbols/mail.svg') %>Assign
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if(typeof(pane) !== 'undefined' && pane != 'per-ass' && pane != 'per-list') { %>active<% } %>"
                id="permission-create-tab" data-toggle="tab" href="#permission-create-pane" role="tab"
                aria-controls="new" aria-selected="false">
                <%- include('../assets/symbols/add.svg') %>Create
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if(typeof(pane) !== 'undefined' && pane == 'per-list') { %>active<% } %>"
                id="permission-list-tab" data-toggle="tab" href="#permission-list-pane" role="tab" aria-controls="all"
                aria-selected="true">
                <%- include('../assets/symbols/crate.svg') %>List
            </a>
        </li>
    </ul>
    <div class="tab-content" id="permissionTabContent">
            <%- include('./_admin_permission_assign.ejs') %>
            <%- include('./_admin_permission_create.ejs') %>
            <%- include('./_admin_permission_list.ejs') %>
    </div>


    <!--
    <section class="standard-form-section">
        <form id="users-form" class="standard-form" autocomplete="off" action="/admin" method="POST" oninput=""
            novalidate>
            <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.orders) { %> disabled="disabled"
                <% } %>>
                <input type="hidden" name="id" value="usr">

                <input type="hidden" name="uid"
                    value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                <% if(typeof(csrfToken) !== 'undefined') { %><input type="hidden" name="_csrf" value="<%= csrfToken %>"><% } %>
            </fieldset>
        </form>
    </section>
    -->
</div>
