<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'whs-list') { %>show active<% } %>"
    id="warehouse-list-pane" role="tabpanel" aria-labelledby="warehouse-list-tab">
    <h2 class="pane-h2">Warehouse List</h2>
    <div class="card-filter-section space-between">
        <div class="form-group form-inline mb-3 card-filter-selector">
            <label id="warehouse-select-label" class="form-label" for="warehouse-select">Show: </label>
            <select id="warehouse-select" class="form-control" type="text" onchange="toggleWarehouseView()" name="warehouses"
                aria-label="warehouse-select-label" aria-describedby="warehouse-select-basic-addon">
                <option value="active" selected>Open</option>
                <option value="inactive">Closed</option>
            </select>
        </div>
        <!--
        <div class="add-action-button-section">
            <a id="new-warehouse-link" class="right add-warehouse-link" href="#newwarehouse"
                onclick="document.getElementById('newwarehouse').removeAttribute('hidden');"><%- include('../assets/symbols/plus.svg') %>
                Add Warehouse
            </a>
        </div>
        -->
    </div>
    <section id="warehouse-list-section" class="content-pane-scroll-cards-section tab-scroll-pane">
      <!--
        <% if (typeof(warehouses) !== 'undefined' && Array.isArray(warehouses) && warehouses.length > 0) { %>
        <% for(let i=0;i<warehouses.length;i++) { %>
        <div class="card <%= warehouses[i].status %>" <% if (warehouses[i].status == 'inactive'){ %>hidden<% } %>>
            <div class="card-body">
                <div class="actionable-card-pane">
                    <div class="address-view-card-pane">
                        <ul>
                            <li>
                                <span>
                                    <p class="item-card-label">
                                        <b><% if(typeof(warehouses[i].displayName) !== 'undefined') {%><%= warehouses[i].displayName %><% } else { %><%= warehouses[i].name %><% } %></b>
                                    </p>
                                    <div class=" item-card">
                                        <div class="item-card-left">
                                            <% if (typeof(warehouses[i].images) !== 'undefined' && Array.isArray(warehouses[i].images) && warehouses[i].images.length > 0) { %>
                                            <% for(let k=0;k<warehouses[i].images.length;k++) { %>
                                            <img class="storefront-image" alt="<%= warehouses[i].images[k].originalname %>" src="<%= warehouses[i].images[k].src %>" />
                                            <% } %>
                                            <% } else { %>
                                            <figure class="storefront-image">
                                                <%- include('../assets/symbols/shop.svg') %>
                                            </figure>
                                            <% } %>
                                        </div>
                                        <div class="item-card-right extra-info">
                                                <% if(typeof(warehouses[i].status !== 'undefined')) { %>
                                                    <h4>Status</h4>
                                                    <p>
                                                        <% if(warehouses[i].status == 'active') { %>
                                                        Open
                                                        <% } else { %>
                                                        Closed
                                                        <% } %>
                                                    </p>
                                                <% } %>
                                                <% if(typeof(warehouses[i].description) !== 'undefined') { %>
                                                    <h4>Description</h4>
                                                    <p>
                                                        <%= warehouses[i].description %>
                                                    </p>
                                                <% } %>
                                        </div>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="action-button-section">
                        <form class="edit-delete-action-form" method="POST" action="/admin">
                            <input type="hidden" name="id" value="upwhs">
                            <input type="hidden" name="sid" value="<% if(typeof(shops[i]._id) !== 'undefined') { %><%= shops[i]._id %><% } %>">
                            <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                            <% if (shops[i].status == 'inactive'){ %>
                                <a href="/user/shop/edit?s=<%= shops[i]._id %>">
                            <button class=" action-icon-button  action-icon" type="button" data-toggle="tooltip" data-placement="left" title="Edit" name="update" value="edit">
                            <%- include('../assets/symbols/edit.svg') %>
                            </button></a>
                            <button class=" action-icon-button reactivate-icon action-icon" type="submit" data-toggle="tooltip"
                                data-placement="left" title="Re-activate" name="update" value="open">
                                <%- include('../assets/symbols/reload.svg') %>
                            </button>
                            <button class=" action-icon-button delete-icon action-icon" type="submit" data-toggle="tooltip" data-placement="left"
                                title="Delete" name="update" value="delete">
                                <%- include('../assets/symbols/bin.svg') %>
                            </button>
                            <%  } else { %>
                            <a href="/user/shop/edit?s=<%= shops[i]._id %>"><button class=" action-icon-button  action-icon" type="button" data-toggle="tooltip" data-placement="left" title="Edit" name="update" value="edit">
                            <%- include('../assets/symbols/edit.svg') %>
                            </button></a>
                            <button class=" action-icon-button close-icon action-icon" type="submit"  data-toggle="tooltip" data-placement="left" title="Close" name="update" value="close">
                                <%- include('../assets/symbols/no.svg') %>
                            </button>
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <%  } else { %>
        <p>No warehouses associated with account.</p>
        <% } %>
      -->
    </section>
    <nav id="warehouse-list-section-pagination" class="content-nav-right" aria-label="Warehouse listing">
        <!-- Pagination Navigation Details -->
        <!--
          <% if (typeof(warehouses_pages) !== 'undefined' && warehouses_pages > 0) { %>
          <ul class="pagination text-center">
              <% if (typeof(warehouses_current) !== 'undefined' ) { %>
              <% if (warehouses_current == 1) { %>
              <li class="page-item disabled"><a class="page-link">First</a></li>
              <% } else { %>
              <li class="page-item"><a class="page-link" href="/admin/page/1">First</a></li>
              <% } %>
              <% let i = (Number(warehouses_current) > 5 ? Number(warehouses_current) - 4 : 1) %>
              <% if (i !== 1) { %>
              <li class="page-item disabled"><a class="page-link">...</a></li>
              <% } %>
              <% for (; i <= (Number(warehouses_current) + 4) && i <= warehouses_pages; i++) { %>
              <% if (i == warehouses_current) { %>
              <li class="page-item active"><a class="page-link"><%= i %></a></li>
              <% } else { %>
              <li class="page-item"><a class="page-link" href="/admin/page/<%= i %>"><%= i %></a></li>
              <% } %>
              <% if (i == Number(warehouses_current) + 4 && i < warehouses_pages) { %>
              <li class="page-item disabled"><a class="page-link">...</a></li>
              <% } %>
              <% } %>
              <% if (warehouses_current == warehouses_pages) { %>
              <li class="page-item disabled"><a class="page-link">Last</a></li>
              <% } else { %>
              <li class="page-item"><a class="page-link" href="/admin/page/<%= shops_pages %>">Last</a></li>
              <% } %>
              <% } %>
          </ul>
          <% } %>
        -->
    </nav>
</div>
<script>


function getWarehouseDetails(obj){
    console.log('Calling getWarehouseDetails....')
    var xhttp;
    xhttp=new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        //cFunction(this);
        //console.log(document.getElementById('warehouse-list-pane'))
        //console.log(typeof this.responseText);
        updateWarehouseView(JSON.parse(this.responseText))
        //console.log(this.responseText);
      }
    };
    //url = 'http://localhost:3005/api/get/shops?sid=12&uid=5f24af48d559ff4b42e0dc4d'
    url = location.protocol + '//' + location.hostname + ':' + location.port + '/api/get/warehouses?'+new URLSearchParams(obj).toString();
    console.log(url)
    xhttp.open("GET", url, true);
    xhttp.send();

    console.log('Ending getWarehouseDetails....')
}

 function respondToWarehouseVisibility(element, callback) {
  var options = {
    root: document.documentElement
  }
  var observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.intersectionRatio > 0) callback();
    });
  }, options);

  observer.observe(element);
}

respondToWarehouseVisibility(document.getElementById("warehouse-list-pane"), visible => {
	//console.log("Initial Call of Storefront Details!")
  //console.log('<%= user.id %>')
  let e = document.getElementById("warehouse-select")
  getWarehouseDetails({sid: '12', uid: '<%= user.id %>',status: e.options[e.selectedIndex].value})
});

function updateWarehouseView(s){
  //console.log(typeof s)
  document.getElementById("warehouse-list-section").innerHTML = ""
  if (s.warehouses.length > 0){
    for (ss in s.warehouses){
      let card = document.createElement("DIV")
      card.className = "card"
      let card_body = document.createElement("DIV")
      card_body.className = "card-body"
      let actionable_card_pane = document.createElement("DIV")
      actionable_card_pane.className = "actionable-card-pane"
      let address_view_card_pane = document.createElement("DIV")
      address_view_card_pane.className = "address-view-card-pane"
      let ul = document.createElement("UL")
      let li = document.createElement("LI")
      let span = document.createElement("SPAN")
      let p = document.createElement("P")
      p.className = "item-card-label"
      let b = document.createElement("B")
      b.innerHTML = s.warehouses[ss].displayName ? s.warehouses[ss].displayName : s.warehouses[ss].name
      p.appendChild(b)
      span.appendChild(p)
      let item_card = document.createElement("DIV")
      item_card.className = "item-card"
      let item_card_left = document.createElement("DIV")
      item_card_left.className = "item-card-left"
      //console.log(typeof s.warehouses[ss].images)
      if (typeof (s.warehouses[ss].images) !== 'undefined' && Array.isArray(s.warehouses[ss].images) && s.warehouses[ss].images.length > 0) {
        for (i in s.warehouses[ss].images){
          let warehouse_image = document.createElement("IMG")
          warehouse_image.className = "warehouse-image"
          warehouse_image.alt = s.warehouses[ss].images[i].originalname
          warehouse_image.src = s.warehouses[ss].images[i].src
          console.log(s.warehouses[ss].images[i].src)
          console.log(s.warehouses[ss].images[i])
          item_card_left.appendChild(warehouse_image)
        }
      } else {
        let figure = document.createElement("FIGURE")
        figure.className = "storefront-image"
        figure.innerHTML = `<%- include("../assets/symbols/shop.svg") %>`
        item_card_left.appendChild(figure)
      }
      item_card.appendChild(item_card_left)
      let item_card_right_extra_info = document.createElement("DIV")
      item_card_right_extra_info.className = "item-card-right extra-info"
      if (typeof (s.warehouses[ss].status) !== 'undefined') {
        let h4 = document.createElement("H4")
        h4.innerHTML = "Status"
        item_card_right_extra_info.appendChild(h4)
        let p_status = document.createElement("P")
        if (s.warehouses[ss].status == 'active') {
          p_status.innerHTML = 'Open'
        } else {
          p_status.innerHTML = 'Closed'
        }
        item_card_right_extra_info.appendChild(p_status)
      }
      if (typeof (s.warehouses[ss].description) !== 'undefined') {
        let h4 = document.createElement("H4")
        h4.innerHTML = "Description"
        item_card_right_extra_info.appendChild(h4)
        let p_desc = document.createElement("P")
        p_desc.innerHTML = s.warehouses[ss].description
        item_card_right_extra_info.appendChild(p_desc)
      }
      item_card.appendChild(item_card_right_extra_info)
      span.appendChild(item_card)
      li.appendChild(span)
      ul.appendChild(li)
      address_view_card_pane.appendChild(ul)
      actionable_card_pane.appendChild(address_view_card_pane)
      let action_button_section = document.createElement("DIV")
      action_button_section.className = "action-button-section"
      let edit_delete_action_form = document.createElement("FORM")
      edit_delete_action_form.className = "edit-delete-action-form"
      edit_delete_action_form.method = "POST"
      edit_delete_action_form.action = "/admin<% if(typeof(csrfToken) !== 'undefined') { %>?_csrf=<%=csrfToken%><% } %>"
      let input_id = document.createElement("INPUT")
      input_id.type = "hidden"
      input_id.name = "id"
      input_id.value = "upwhs"
      edit_delete_action_form.appendChild(input_id)
      let input_sid = document.createElement("INPUT")
      input_sid.type = "hidden"
      input_sid.name = "wid"
      if (typeof(s.warehouses[ss]._id)  !== 'undefined') input_sid.value = s.warehouses[ss]._id
      edit_delete_action_form.appendChild(input_sid)
      let input_uid = document.createElement("INPUT")
      input_uid.type = "hidden"
      input_uid.name = "uid"
      if (typeof(s.warehouses[ss].owner)  !== 'undefined') input_uid.value = s.warehouses[ss].owner
      edit_delete_action_form.appendChild(input_uid)
      if (s.warehouses[ss].status == 'inactive') {
        let a = document.createElement("A")
        a.href = "/admin/edit?w="+s.warehouses[ss]._id
        let button_edit = document.createElement("BUTTON")
        button_edit.className = "action-icon-button  action-icon"
        button_edit.type="button"
        button_edit.title="Edit"
        button_edit.name="update"
        button_edit.value="edit"
        //button_edit.
        button_edit.innerHTML = `<%- include("../assets/symbols/edit.svg") %>`
        a.appendChild(button_edit)
        edit_delete_action_form.appendChild(a)
        let button_re_activate = document.createElement("BUTTON")
        button_re_activate.className = "action-icon-button reactivate-icon action-icon"
        button_re_activate.type="submit"
        button_re_activate.title="Re-activate"
        button_re_activate.name="update"
        button_re_activate.value="open"
        //button_re_activate.
        button_re_activate.innerHTML = `<%- include("../assets/symbols/reload.svg") %>`
        edit_delete_action_form.appendChild(button_re_activate)
        let button_delete = document.createElement("BUTTON")
        button_delete.className = "action-icon-button delete-icon action-icon close-icon"
        button_delete.type="submit"
        button_delete.title="Delete"
        button_delete.name="update"
        button_delete.value="delete"
        //button_delete.
        button_delete.innerHTML = `<%- include("../assets/symbols/bin.svg") %>`
        edit_delete_action_form.appendChild(button_delete)
      } else {
        let a = document.createElement("A")
        a.href = "/admin/edit?w="+s.warehouses[ss]._id
        let button_edit = document.createElement("BUTTON")
        button_edit.className = "action-icon-button  action-icon"
        button_edit.type="button"
        button_edit.title="Edit"
        button_edit.name="update"
        button_edit.value="edit"
        //button_edit.
        button_edit.innerHTML = `<%- include("../assets/symbols/edit.svg") %>`
        a.appendChild(button_edit)
        edit_delete_action_form.appendChild(a)
        let button_close = document.createElement("BUTTON")
        button_close.className = "action-icon-button delete-icon action-icon close-icon"
        button_close.type="submit"
        button_close.title="Close"
        button_close.name="update"
        button_close.value="close"
        //button_close.
        button_close.innerHTML = `<%- include("../assets/symbols/no.svg") %>`
        edit_delete_action_form.appendChild(button_close)
      }
      action_button_section.appendChild(edit_delete_action_form)
      actionable_card_pane.appendChild(action_button_section)
      card_body.appendChild(actionable_card_pane)
      card.appendChild(card_body)
      document.getElementById("warehouse-list-section").appendChild(card)
    }
  } else {
    let p = document.createElement("P")
    p.innerHTML = "No warehouses associated with account."
    document.getElementById("warehouse-list-section").appendChild(p)
  }
  //document.getElementById().innerHTML =
  document.getElementById("warehouse-list-section-pagination").innerHTML = ""
  if (typeof(s.total_pages) !== 'undefined' && s.total_pages > 0) {
    let pagination_text_center = document.createElement("UL")
    pagination_text_center.className = "pagination text-center"
    if (typeof(s.current_page) !== 'undefined' ) {
      if (s.current_page == 1) {
        let page_item_disabled = document.createElement("LI")
        page_item_disabled.className = "page-item disabled"
        let a = document.createElement("A")
        a.className = "page-link"
        a.innerHTML = "First"
        page_item_disabled.appendChild(a)
        pagination_text_center.appendChild(page_item_disabled)
      } else {
        let page_item = document.createElement("LI")
        page_item.className = "page-item"
        let a = document.createElement("A")
        a.className = "page-link"
        //a.href = "/user/shop/page/1"
        a.onclick = function () {
          let e = document.getElementById("warehouse-select")
          getStorefrontDetails({sid: '12', uid: '<%= user.id %>',page: 1,status: e.options[e.selectedIndex].value})
        }
        a.innerHTML = "First"
        page_item.appendChild(a)
        pagination_text_center.appendChild(page_item)
      }
      let i = (Number(s.current_page) > 5 ? Number(s.current_page) - 4 : 1)
      if (i !== 1) {
        let page_item_disabled = document.createElement("LI")
        page_item_disabled.className = "page-item disabled"
        let a = document.createElement("A")
        a.className = "page-link"
        a.innerHTML = "..."
        page_item_disabled.appendChild(a)
        pagination_text_center.appendChild(page_item_disabled)
      }
      for (; i <= (Number(s.current_page) + 4) && i <= s.total_pages; i++) {
        let j = i
        if (i == s.current_page) {
          let page_item_active = document.createElement("LI")
          page_item_active.className = "page-item active"
          let a = document.createElement("A")
          a.className = "page-link"
          a.innerHTML = i
          page_item_active.appendChild(a)
          pagination_text_center.appendChild(page_item_active)
        } else {
          let page_item = document.createElement("LI")
          page_item.className = "page-item"
          let a = document.createElement("A")
          a.className = "page-link"
          //a.href = "/user/shop/page/"+i
          a.onclick = function () {
            console.log({sid: '12', uid: '<%= user.id %>',page: j})
            let e = document.getElementById("warehouse-select")
            console.log(e.options[e.selectedIndex].value)
            getStorefrontDetails({sid: '12', uid: '<%= user.id %>',page: j, status: e.options[e.selectedIndex].value})
          }
          a.innerHTML = i
          page_item.appendChild(a)
          pagination_text_center.appendChild(page_item)
        }
        if (i == Number(s.current_page) + 4 && i < s.total_pages) {
          let page_item_disabled = document.createElement("LI")
          page_item_disabled.className = "page-item disabled"
          let a = document.createElement("A")
          a.className = "page-link"
          a.innerHTML = "..."
          page_item_disabled.appendChild(a)
          pagination_text_center.appendChild(page_item_disabled)
        }
      }
      if (s.current_page == s.total_pages) {
        let page_item_disabled = document.createElement("LI")
        page_item_disabled.className = "page-item disabled"
        let a = document.createElement("A")
        a.className = "page-link"
        a.innerHTML = "Last"
        page_item_disabled.appendChild(a)
        pagination_text_center.appendChild(page_item_disabled)
      } else {
        let page_item = document.createElement("LI")
        page_item.className = "page-item"
        let a = document.createElement("A")
        a.className = "page-link"
        //a.href = "/user/shop/page/"+s.total_pages
        a.onclick = function () {
          let e = document.getElementById("warehouse-select")
          getStorefrontDetails({sid: '12', uid: '<%= user.id %>',page: s.total_pages, status: e.options[e.selectedIndex].value})
        }
        a.innerHTML = "Last"
        page_item.appendChild(a)
        pagination_text_center.appendChild(page_item)
      }
    }
    document.getElementById("warehouse-list-section-pagination").appendChild(pagination_text_center)
  }
}

function toggleWarehouseView(){
    let e = document.getElementById("warehouse-select")
    // TODO: Get active page to carry-over when status change
    //let pagination_section = document.getElementById("warehouse-list-section-pagination")
    //let v = pagination_section.getElementsByClassName(names)
    getWarehouseDetails({sid: '12', uid: '<%= user.id %>', status: e.options[e.selectedIndex].value})
    /*
    let cardSelector = document.getElementById('warehouse-select')
    let cardList = document.getElementById('warehouse-list-section')
    if (cardSelector && cardSelector.value == 'closed'){
        let z = cardList.querySelectorAll(".card")
        for (const zz of z) {
            zz.setAttribute('hidden', true)
        }
        let y = cardList.querySelectorAll(".inactive")
        for (const yy of y) {
            yy.removeAttribute('hidden')
        }
    } else if (cardSelector && cardSelector.value == 'open') {
        let z = cardList.querySelectorAll(".card")
        for (const zz of z) {
            zz.setAttribute('hidden', true)
        }
        let y = cardList.querySelectorAll(".active")
        for (const yy of y) {
            yy.removeAttribute('hidden')
        }
    } else {
        console.log(cardSelector.value);
    }
    */
}

function toggleAddressFields(){
    let useAddr = document.getElementById('use-addr-checkbox')
    let addrFieldSet = document.getElementById('new-warehouse-address-fieldset')
    if(useAddr && useAddr.checked) {
        if(addrFieldSet) {
            addrFieldSet.setAttribute('disabled', 'disabled')
        }
    } else {
        if (addrFieldSet) {
            addrFieldSet.removeAttribute('disabled')
        }
    }
}

function closeNewWarehouseForm(){
    document.getElementById('newwarehouse').setAttribute('hidden', true)
    document.getElementById('new-warehouse-link').scrollIntoView(false)
}
/*
function clearImageValidation() {
    let imgInput = document.getElementById('add-warehouse-fullimage')
    if (imgInput) {
        imgInput.classList.remove('is-invalid')
    }
}

function validateImageFiles() {
    let imgInput = document.getElementById('add-warehouse-fullimage')
    let imgInputInvalidElem = document.getElementById('add-warehouse-invalid-fullimage')
    let imgFiles = imgInput.files
    let uploadLimit = <%= typeof (uploadLimit) === 'number' ? uploadLimit : 10 %>
        let uploadSize = <%= typeof (uploadSize) === 'number' ? uploadSize : 10485760 %>

    if (imgInput) {
        console.log('validating images...')
        if (imgFiles.length > uploadLimit) {
            imgInputInvalidElem.innerHTML = 'You cannot upload more than ' + uploadLimit.toString() + ' images.'
            imgInput.value = null
            imgInput.classList.add('is-invalid')
            return
        }

        let totalImgSize = 0

        for (let i = 0; i < imgFiles.length; i++) {
            totalImgSize += imgFiles[i].size
            console.log('Total image size: ' + totalImgSize.toString())
            if (totalImgSize > uploadSize) {
                imgInputInvalidElem.innerHTML = 'Upload size limit of ' + uploadSize.toString() + ' exceeded.'
                imgInput.value = null
                imgInput.classList.add('is-invalid')
                return
            }
        }
    }
}
*/
//toggleStorefrontView()
</script>
