<nav class="menu">
    <div class="menu-main">
        <div class="applogo">
            <a href="/">
                <%- include('../assets/symbols/logo.svg') %>
            </a>
        </div>
        <form id="main-search-form" class="search-form" autocomplete="off" action="/market" method="POST" oninput="" novalidate>
            <div class="form-group">
                <div class="input-group">
                    <input id="find" class="form-control" type="text" name="find" placeholder="Find products and shops..." value=""
                        aria-label="find" aria-describedby="find-basic-addon" size="25" required>
                <% if(typeof(csrfToken) !== 'undefined') { %><input type="hidden" name="_csrf" value="<%= csrfToken %>"><% } %>
                    <div class="input-group-append">
                        <button class="search-button" type="submit"
                                data-toggle="tooltip" data-placement="bottom" title="Find in Market"><%- include('../assets/symbols/looking-glass.svg') %></button>
                    </div>
                    <div id="invalid-find" class="invalid-feedback">
                        Invalid search query.
                    </div>
                </div>
            </div>
        </form>
        <div class="search-button-container">
            <ul class="search-button-navigation">
                <li class="nav-link-item search-button-item">
                    <button class="search-button-item activate-search-button <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'market' && reqData.path.split('/')[2] == 'find') { %>menu-item-selected
                        <% } %>" type="submit" data-toggle="tooltip" data-placement="bottom"
                        title="Find in Market">
                        <%- include('../assets/symbols/looking-glass.svg') %>
                    </button>
                </li>
            </ul>
        </div>
        <div class="menu-button">
            <div class="menu-line1"></div>
            <div class="menu-line2"></div>
        </div>
    </div>
    <form class="responsive-search-form" autocomplete="off" action="/market" method="POST" oninput="" novalidate>
        <% if(typeof(csrfToken) !== 'undefined') { %><input type="hidden" name="_csrf" value="<%= csrfToken %>"><% } %>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="search-button-prepend" type="button" data-toggle="tooltip" data-placement="bottom"
                        title="Find in Market"><%- include('../assets/symbols/close.svg') %></button>
                </div>
                <input id="find" class="form-control responsive-search-input" type="text" name="find" placeholder="Find products and shops..." value=""
                    aria-label="find" aria-describedby="find-basic-addon" size="25" required>
                <div class="input-group-append">
                    <button class="search-button" type="submit" data-toggle="tooltip" data-placement="bottom"
                        title="Find in Market"><%- include('../assets/symbols/looking-glass.svg') %></button>
                </div>
                <div id="invalid-find" class="invalid-feedback">
                    Invalid search query.
                </div>
            </div>
        </div>
    </form>
    <ul class="menu-main-navigation nav-links">
        <li class="nav-link-item"><a <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && (reqData.path.split('/')[1] == 'market' || reqData.path.split('/')[1] == '')) { %>class="menu-item-selected" <% } %> data-toggle="tooltip" data-placement="bottom" title="Browse" href="/market"><%- include('../assets/symbols/shop.svg') %></a></li>
        <li class="nav-link-item <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'user' && reqData.path.split('/')[2] == 'bag') { %><%= 'nav-menu-item-selected' %><% } %>"><a <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'user' && reqData.path.split('/')[2] == 'bag') { %>class="menu-item-selected" <% } %> data-toggle="tooltip" data-placement="bottom" title="Buy" href="/user/bag"><%- include('../assets/symbols/bag.svg') %></a><% if(typeof(bag) !== 'undefined' && bag) { %>
        <% if(typeof(bag.quantity) == 'function' && bag.quantity() > 0) { %><span class="shopping-bag-counter"><% if(bag.quantity() > 99) { %><%= '99+' %><% } else { %><%= bag.quantity() %><% } %></span><% } %>
        <% } %></li>
        <li class="nav-link-item"><a <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'user' && reqData.path.split('/')[2] == 'shop') { %>class="menu-item-selected" <% } %> data-toggle="tooltip" data-placement="bottom" title="Sell" href="/user/shop"><%- include('../assets/symbols/tags.svg') %></a></li>
        <% if(typeof(user) !== 'undefined') {%> 
        <li class="menu-item"><a <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'user' && reqData.path.split('/')[2] == 'account') { %>class="menu-item-selected" <% } %> data-toggle="tooltip" data-placement="bottom" title="Account" href="/user/account"><%- include('../assets/symbols/person-outline.svg') %></a></li>

            <% if(user && user.roles && Array.isArray(user.roles)) { %>
                <% for (const r of user.roles) { %>
                    <% if(typeof(r.role) !== 'undefined' && r.role == 'superuser') { %>
                        <li class="menu-item"><a
                                <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'admin') { %>class="menu-item-selected"
                                <% } %> data-toggle="tooltip" data-placement="bottom" title="Administration"
                                href="/admin"><%- include('../assets/symbols/wrench.svg') %></a></li>
                    <% break; } %>
                <% } %>
            <% } %>
            <li class="menu-item"><a data-toggle="tooltip" data-placement="bottom" title="Sign Out" href="/signout"><%- include('../assets/symbols/exit.svg') %></a></li>
        <% } else { %>
            <li class="nav-link-item"><a data-toggle="tooltip" data-placement="bottom" title="Sign In" <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'signin' || reqData.path.split('/')[1] == 'signup' || reqData.path.split('/')[1] == 'reset' || reqData.path.split('/')[1] == 'verify') { %>class="menu-item-selected" <% } %> href="/signin"><%- include('../assets/symbols/login.svg') %></a></li>
        <% } %>
        <li class="nav-link-item"><a <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'support') { %>class="menu-item-selected" <% } %> data-toggle="tooltip" data-placement="bottom" title="Support" href="/support"><%- include('../assets/symbols/help.svg') %></a></li>
    </ul>
</nav>
<% if(typeof(env) !== 'undefined' && env != 'production') { %>
<div class="alert alert-primary alert-dismissible fade show alert-banner" role="alert">You are viewing a demonstration. This environment is to be used for testing purposes only. All artifacts and transactions are simulations.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<% } %>
