<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'cl' ) { %>show active<% } %>"
    id="catalogs-pane" role="tabpanel" aria-labelledby="catalog-tab">
    <h2 class="tab-pane-h2">Manage Catalogs</h2>
    <div class="card-filter-selector catalog-selector">
        <div class="form-group form-inline mb-3 card-filter-selector">
            <label id="catalogs-select-label" class="form-label" for="catalogS;ect">Select a catalog</label>
            <select id="catalog-select" class="form-control" type="text" name="catalogs"
                aria-label="catalogs-select-label" aria-describedby="addressType-basic-addon" onchange="toggleCatalog()">
                <% if(typeof(catalogs) !== 'undefined' && Array.isArray(catalogs) && catalogs.length > 0) { %>
                <% for(let c=0;c<catalogs.length;c++) { %>
                <option id="catalog-option-<%= catalogs[c]._id %>" value="<%= catalogs[c]._id %>"><%= catalogs[c].displayName ? catalogs[c].displayName : catalogs[c].name %></option>
                <% } %>
                <% } %>
            </select>
        </div>
        <div class="add-action-button-section">
            <a id="create-catalog-link" class="right add-address-link create-catalog-link" href="#create-catalog-form"
                onclick="document.getElementById('create-catalog-section').removeAttribute('hidden');"><%- include('../assets/symbols/plus.svg') %>Create
                Catalog</a>
        </div>
    </div>
    <section id="catalog-product-list-section" class="content-pane-scroll-cards-section tab-scroll-pane">
        <% if (typeof(catalogs) !== 'undefined' && Array.isArray(catalogs) && catalogs.length > 0) { %>
        <% for(let i=0;i<catalogs.length;i++) { %>
        <div id="catalog-card-<%= catalogs[i]._id %>" class="catalog-card" <% if(i!=0) { %>hidden<% } %>>
            <div class="catalog-card-header row">
                <h3><%= catalogs[i].displayName ? catalogs[i].displayName : catalogs[i].name %></h3>
                <div class="col-6 catalog-header-item">
                    <figure class="featured-image edit-featured-image">
                        <% if(typeof(catalogs[i].image) !== 'undefined' && typeof(catalogs[i].image.src) !== 'undefined') { %>
                        <img src="<%= catalogs[i].image.src %>">
                        <% } else { %>
                        <%- include('../assets/symbols/tags.svg') %>
                        <% } %>
                    </figure>
                </div>
                <div class="col-6 catalog-header-item">
                    <p>
                        <% if(typeof(catalogs[i].description) == 'string') { %>
                        <%= catalogs[i].description %>
                        <% } %>
                    </p>
                </div>
            </div>
            <hr>
            <a href="/user/shop/catalog/edit?c=<%= catalogs[i]._id %>">
                <button class="btn btn-primary">Edit</button>
            </a>
            <hr>
            <div class="row">
                <h3>Add products to catalog</h3>
            </div>
            <div>
                <div class="catalog-select-shop-section">
                    <div class="form-group form-inline mb-3 card-filter-selector">
                        <label class="form-label catalog-add-shop-select-label" for="catalog-<%= catalogs[i]._id %>-add-shop-select">From: </label>
                        <select id="catalog-<%= catalogs[i]._id %>-add-product-shop-select" class="form-control" type="text" onchange="toggleCatalogShopSelector('<%= catalogs[i]._id.toString() %>')"
                            name="shops" aria-label="shop-select-label" aria-describedby="shop-select-basic-addon">
                            <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0) { %>
                            <% for(let si=0;si<shops.length;si++) { %>
                            <option value="<%= catalogs[i]._id + '-' + shops[si]._id %>"><%= shops[si].displayName %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="catalog-shop-product-select-section">
                    <h4>Products</h4>
                    <% if(typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0) { %>
                        <% for(let s=0;s<shops.length;s++) { %>
                        <form class="catalog-add-action-form" method="POST" action="/user/shop<% if(typeof(csrfToken) !== 'undefined') { %>?_csrf=<%=csrfToken%><% } %>">
                            <input type="hidden" name="id" value="cl-add-pd">
                        
                            <input type="hidden" name="cid"
                            value="<% if(typeof(catalogs[i]._id) !== 'undefined') { %><%= catalogs[i]._id %><% } %>">

                            <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">

                            <div id="catalog-<%= catalogs[i]._id %>-shop-listing-<%= shops[s]._id %>" class="catalog-shop-product-listing form-group mb-3" <% if(s!=0) { %>hidden<% } %>>
                                <div class="form-group mb-3 ">
                                    <div class="mb-3 catalog-shop-product-listing-container">
                                        <% if(typeof(shops[s].products) !== 'undefined' && Array.isArray(shops[s].products)) { %>
                                            <% for(let p=0;p<shops[s].products.length;p++) { %>
                                                <div class="shop-product-listing form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="catalog-<%= catalogs[i]._id %>-shop-<%= shops[s]._id %>-product-<%= shops[s].products[p]._id %>-checkbox" name="<%= catalogs[i]._id %>-<%= shops[s].products[p]._id %>">

                                                    <label class="form-check-label" for="catalog-<%= catalogs[i]._id %>-shop-<%= shops[s]._id %>-product-<%= shops[s].products[p]._id %>-checkbox"><%= shops[s].products[p].displayName %></label>
                                                </div>
                                            <% } %>
                                        <% } %>
                                    </div>
                                    <div class="form-group form-inline mb-3 card-filter-selector">
                                        <button class="btn btn-primary" type="submit">Add checked items</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3>Catalog items</h3>
            </div>
            <% if (typeof(catalogs[i].products) !== 'undefined' && Array.isArray(catalogs[i].products) && catalogs[i].products.length > 0) { %>
            <div class="catalog-item-container">
            <% for(let j=0;j<catalogs[i].products.length;j++) { %>
                <div class="card catalog-item-card">
                    <div class="card-body">
                        <div class="actionable-card-pane">
                            <div class="catalog-view-card-pane">
                                <ul>
                                    <li>
                                        <span>
                                            <p class="item-card-label">
                                                <b><%= catalogs[i].products[j].displayName %></b>
                                            </p>
                                            <div class="item-card-label">
                                                <div class="catalog-item-card-section">
                                                    <% if(typeof(catalogs[i].products[j].images) !== 'undefined' && Array.isArray(catalogs[i].products[j].images) && catalogs[i].products[j].images.length > 0) { %>
                                                    <img alt="<%= catalogs[i].products[j].images[0].originalname %>" class="catalog-item-image"
                                                        src="<%= catalogs[i].products[j].images[0].src %>" />
                                                    <% } else { %>
                                                    <figure class="catalog-item-image">
                                                        <%- include('../assets/symbols/tags.svg') %>
                                                    </figure>
                                                    <% } %>
                                                </div>
                                                <div class="item-card-left catalog-item-card-section extra-info">
                                                    <h4>Availability</h4>
                                                    <p>
                                                        <% if(typeof(catalogs[i]) !== 'undefined' && typeof(catalogs[i].products[j]) !== 'undefined' &&  catalogs[i].products[j].quantity > 0 ) { %>
                                                        <%= catalogs[i].products[j].quantity %>
                                                        <% } else if(catalogs[i].products[j].quantity < 0) { %>
                                                        &infin;
                                                        <% } else { %>
                                                        <%= 'Out of Stock' %>
                                                        <% } %>
                                                    </p>
                                                    <% if(typeof(catalogs[i].products[j].price) == 'string' && typeof(catalogs[i].products[j].currency) == 'string') { %>
                                                    <h4>Price</h4>
                                                    <p>
                                                        <%= catalogs[i].products[j].price + ' ' + catalogs[i].products[j].currency.toUpperCase() %>
                                                    </p>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="action-button-section">
                                                <form class="edit-delete-action-form" method="POST" action="/user/shop<% if(typeof(csrfToken) !== 'undefined') { %>?_csrf=<%=csrfToken%><% } %>">
                                                    <input type="hidden" name="id" value="cl-del-pd">
                                            
                                                    <input type="hidden" name="pid"
                                                        value="<% if(typeof(catalogs[i].products[j]._id) !== 'undefined') { %><%= catalogs[i].products[j]._id %><% } %>">
                                            
                                                    <input type="hidden" name="cid"
                                                        value="<% if(typeof(catalogs[i]._id) !== 'undefined') { %><%= catalogs[i]._id %><% } %>">
                                            
                                                    <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                                            
                                                    <button class=" action-icon-button delete-icon action-icon" type="submit" data-toggle="tooltip"
                                                        data-placement="bottom" title="Delete" name="update" value="delete">
                                                        <%- include('../assets/symbols/bin.svg') %>
                                                    </button>
                                                </form>
                                            </div>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
            </div>
            <% } else { %>
            <div class="catalog-item-container">
                <div class="catalog-no-items-card">
                    <p>No items in catalog.</p>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>
        <%  } else { %>
        <p>You have no catalogs.</p>
        <% } %>
    </section>
    <nav class="content-nav-right" aria-label="Catalog Listing">
        <% if (typeof(catalog_pages) !== 'undefined' && catalog_pages > 0) { %>
        <ul class="pagination text-center">
            <% if (typeof(catalog_current_page) !== 'undefined' ) { %>
                <% if (catalog_current_page == 1) { %>
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/user/shop/page/1">First</a></li>
                <% } %>

                <% let i = (Number(catalog_current_page) > 5 ? Number(catalog_current_page) - 4 : 1) %>
                
                <% if (i !== 1) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>

                <% for (; i <= (Number(catalog_current_page) + 4) && i <= catalog_pages; i++) { %>
                    <% if (i == catalog_current_page) { %>
                        <li class="page-item active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/user/shop/page/<%= i %>"><%= i %></a></li>
                    <% } %>

                    <% if (i == Number(catalog_current_page) + 4 && i < catalog_pages) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                <% } %>

                <% if (catalog_current_page == catalog_pages) { %>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/user/shop/page/<%= catalog_pages %>">Last</a></li>
                <% } %>
            <% } %>
        </ul>
        <% } %>
    </nav>
    <section class="standard-form-section" id="create-catalog-section"
        <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0 ){ %>hidden<% } %>>
        <hr>
        <h3>Create catalog</h3>
        <div>
            <button class="right action-icon-button action-icon" type="submit" data-toggle="tooltip" data-placement="left"
                href="#catalogs-pane" title="Cancel" name="update" value="cancel"
                onclick="closeCreateCatalogForm()">
                <%- include('../assets/symbols/close.svg') %>
            </button>
        </div>
        <form id="create-catalog-form" class="standard-form" autocomplete="off" action="/user/shop<% if(typeof(csrfToken) !== 'undefined') { %>?_csrf=<%=csrfToken%><% } %>" method="POST" oninput=""
            enctype="multipart/form-data" novalidate>
            <fieldset <% if((typeof(disabledForms) !== 'undefined' && disabledForms.catalog) || (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length < 1)) { %> disabled="disabled"
                <% } %>>
                <input type="hidden" name="id" value="cl">
    
                <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="create-catalog-name-basic-addon">Catalog Name</span>
                            </div>
                            <input id="create-catalog-name"
                                class="form-control <% if(typeof(name) !== 'undefined') { %><%= name.class %><% } %>"
                                type="text" name="name"
                                value="<% if(typeof(name) !== 'undefined' && name && name.value) { %><%= name.value %><% } %>"
                                aria-label="Catalog Name" aria-describedby="create-catalog-name-basic-addon" size="55"
                                required>
                            <div id="create-catalog-invalid-name" class="invalid-feedback">
                                <% if(typeof(name) !== 'undefined' && name && name.class == 'is-invalid') { %><%= name.message %><% } else { %>
                                You must provide a valid catalog name.
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-group form-inline mb-3">
                            <label id="catalogShopIDLabel" class="form-label" for="ShopID">Catalog Owner</label>
                            <select id="catalogShopID"
                                class="form-control <% if(typeof(shopList) !== 'undefined' && typeof(shopList.class) !== 'undefined') { %><%= shopList.class %><% } %>"
                                type="text" name="sid" value="" aria-label="catalogShopIDLabel" aria-describedby="catalogShopIDLabel"
                                ondurationchange="" onchange="">
                                <% for(let i=0;i<shops.length;i++) { %>
                                <option value="<%= shops[i]._id %>"><%= shops[i].displayName %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="create-catalog-description-basic-addon">Description</span>
                        </div>
                        <textarea class="form-control" rows="4" cols="25" name="description" form="create-catalog-form"
                            placeholder="Catalog description ..." aria-label="Catalog description"
                            aria-describedby="create-catalog-description-basic-addon"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-prepend-icon" id="create-catalog-image-basic-addon"
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Catalog Image"
                                    title="Catalog Image"><%- include('../assets/symbols/picture.svg') %>
                                </span>
                            </div>
                            <input id="create-catalog-image"
                                class="form-control <% if(typeof(fullimage) !== 'undefined') { %><%= fullimage.class %><% } %>"
                                type="file" name="fullimage" aria-label="Catalog Image"
                                aria-describedby="create-catalog-image-basic-addon" accept=".jpg,.jpeg,.png" multiple
                                onchange="catalogCreateValidateImageFiles()" onclick="catalogCreateClearImageValidation()">
                            <div id="create-catalog-invalid-image" class="invalid-feedback">
                                <% if(typeof(fullimage) !== 'undefined' && fullimage.class == 'is-invalid') { %><%= fullimage.message %><% } else { %>
                                You must provide a valid image of type: jpg/jpeg/png.
                                <% } %>
                            </div>
                        </div>
                        <div id="create-catalog-button-container">
                            <button id="create-catalog-button" type="submit" class="btn btn-primary" onclick="">Create</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</div>
<script>
    function closeCreateCatalogForm() {
        document.getElementById('create-catalog-section').setAttribute('hidden', true)
        document.getElementById('create-catalog-link').scrollIntoView(false)
    }

    function catalogCreateClearImageValidation() {
        let imgInput = document.getElementById('create-catalog-image')
        if (imgInput) {
            imgInput.classList.remove('is-invalid')
        }
    }

    function catalogCreateValidateImageFiles() {
        let imgInput = document.getElementById('create-catalog-image')
        let imgInputInvalidElem = document.getElementById('create-catalog-invalid-image')
        let imgFiles = imgInput.files
        let uploadLimit = <%= typeof (uploadLimit) === 'number' ? uploadLimit : 10 %>
            let uploadSize = <%= typeof (uploadSize) === 'number' ? uploadSize : 10485760 %>

        if (imgInput) {
            console.log('validating images...')
            if (imgFiles.length > uploadLimit) {
                imgInputInvalidElem.innerHTML = 'You cannot upload more than ' + uploadLimit.toString() + ' images.'
                imgInput.value = null
                imgInput.classList.add('is-invalid')
                return
            }

            let totalImgSize = 0

            for (let i = 0; i < imgFiles.length; i++) {
                totalImgSize += imgFiles[i].size
                console.log('Total image size: ' + totalImgSize.toString())
                if (totalImgSize > uploadSize) {
                    imgInputInvalidElem.innerHTML = 'Upload size limit of ' + uploadSize.toString() + ' exceeded.'
                    imgInput.value = null
                    imgInput.classList.add('is-invalid')
                    return
                }
            }
        }
    }

    function toggleCatalogShopSelector(cid) {
        let elem = document.getElementById('catalog-' + cid.toString() + '-add-product-shop-select')
        let x = document.getElementsByClassName('catalog-shop-product-listing')
        if (elem) {
            for (const y of x) {
                y.setAttribute('hidden', true);
            }

            let ids = elem.value.split('-')
            let catalogId = ids[0]
            let shopId = ids[1]
            let z = document.getElementById('catalog-' + catalogId + '-shop-listing-' + shopId)
            if (z) {
                z.removeAttribute('hidden');
            }
        }
    }

    function toggleCatalog() {
        let elem = document.getElementById('catalog-select')
        let x = document.getElementsByClassName('catalog-card')
        if (elem) {
            for (const y of x) {
                y.setAttribute('hidden', true)
            }

            let z = document.getElementById('catalog-card-' + elem.value)
            if (z) {
                z.removeAttribute('hidden');
                toggleCatalogShopSelector(elem.value)
            }
        }
    }
    toggleCatalog()
</script>