<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane != 'in') { %>show active<% } %>" id="add-product-pane" role="tabpanel" aria-labelledby="new-products-tab">
    <h2 class="tab-pane-h2">Product Registration</h2>
    <hr>
    <section class="standard-form-section new-product-form-section">
        <h3>Add a new product</h3>
        <form id="new-product-form" class="standard-form" autocomplete="off" action="/user/shop<% if(typeof(csrfToken) !== 'undefined') { %>?_csrf=<%=csrfToken%><% } %>" method="POST"
            oninput=""  enctype="multipart/form-data" novalidate>
            <fieldset <% if((typeof(disabledForms) !== 'undefined' && disabledForms.product) || (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length < 1)) { %> disabled="disabled"
                <% } %>>
                <input type="hidden" name="id" value="np">

                <input type="hidden" name="uid"
                    value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                <div class="form-group">
                    <div class="form-group form-inline mb-3">
                        <label id="ShopIDLabel" class="form-label" for="ShopID">Shop</label>
                        <select id="ShopID"
                            class="form-control <% if(typeof(new_addressType) !== 'undefined') { %><%= new_addressType.class %><% } %>" type="text"
                            name="sid" value="" aria-label="addressType" aria-describedby="addressType-basic-addon" ondurationchange=""
                            onchange="">
                            <% for(let i=0;i<shops.length;i++) { %>
                            <option value="<%= shops[i]._id %>"><%= shops[i].displayName %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="add-product-fullname-basic-addon">Name</span>
                            </div>
                            <input id="add-product-fullname" class="form-control <% if(typeof(fullname) !== 'undefined') { %><%= fullname.class %><% } %>" type="text" name="fullname" value="<% if(typeof(fullname) !== 'undefined' && fullname.value) { %><%= fullname.value %><% } %>"
                                aria-label="Product Name" aria-describedby="fullname-basic-addon" size="25" required>
                            <div id="add-product-invalid-fullname" class="invalid-feedback">
                                <% if(typeof(fullname) !== 'undefined' && fullname.class == 'is-invalid') { %><%= fullname.message %><% } else { %>
                                You must a valid name.
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="add-product-description-basic-addon">Description</span>
                            </div>
                            <textarea class="form-control <% if(typeof(description) !== 'undefined') { %><%= description.class %><% } %>" rows="4" cols="25" name="description" form="new-product-form" placeholder="Product Description ..." value="<% if(typeof(description) !== 'undefined' && description.value) { %><%= description.value %><% } %>" aria-label="Product Description" aria-describedby="add-product-description-basic-addon" size="25" required></textarea>
                            <div id="add-product-invalid-description" class="invalid-feedback">
                                <% if(typeof(description) !== 'undefined' && description.class == 'is-invalid') { %><%= description.message %><% } else { %>
                                You must a valid description.
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-prepend-icon" id="add-product-images-basic-addon" data-toggle="tooltip" data-placement="bottom" data-original-title="Product Images"
                                                        title="Product Images"><%- include('../assets/symbols/picture.svg') %></span>
                            </div>
                            <input id="add-product-images" class="form-control <% if(typeof(fullimage) !== 'undefined') { %><%= fullimage.class %><% } %>" type="file" name="fullimage"
                                aria-label="Image" aria-describedby="add-product-basic-addon" accept=".jpg,.jpeg,.png" multiple onchange="validateImageFiles()" onclick="clearImageValidation()">
                            <div id="add-product-invalid-images" class="invalid-feedback">
                                <% if(typeof(fullimage) !== 'undefined' && fullimage.class == 'is-invalid') { %><%= fullimage.message %><% } else { %>
                                You must provide a valid image of type: jpg/jpeg/png.
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <h3>Specifications</h3>
                        <div class="speclist-section"></div>
                        <div id="specifications-add-button-container">
                            <div class="input-group mb-3">
                                <div class="input-group form-inline">
                                    <div class="input-group-prepend small-input-control">
                                        <span class="input-group-text">Name</span>
                                    </div>
                                    <input id="speckey-input"  class="form-control small-input-control <% if(typeof(speckey) !== 'undefined') { %><%= speckey.class %><% } %>" type="text"
                                        name="speckey" value="<% if(typeof(speckey) !== 'undefined' && speckey.value) { %><%= speckey.value %><% } %>"
                                        aria-label="Spec" aria-describedby="speckey-basic-addon" size="" required>
                                    <div class="input-group-prepend small-input-control">
                                        <span class="input-group-text">Value</span>
                                    </div>
                                    <input id="specval-input" class="form-control small-input-control <% if(typeof(specval) !== 'undefined') { %><%= specval.class %><% } %>" type="text"
                                        name="specval" value="<% if(typeof(specval) !== 'undefined' && specval.value) { %><%= specval.value %><% } %>"
                                        aria-label="specval" aria-describedby="specval-basic-addon" size="" required>
                                    <button id="product-specification-button" type="button" class="btn btn-secondary small-input-control" onclick="addSpec()">Add Spec
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr>
                        <div class="input-group mb-3">
                            <div class="input-group form-inline">
                                <div class="input-group-prepend small-input-control">
                                    <span class="input-group-text">Quantity</span>
                                </div>
                                <input class="form-control small-input-control" type="number" id="quantity" name="quantity" min="-1" step="1" value="0" aria-label="" aria-describedby="" size="" required>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group form-inline">
                                <div class="input-group-prepend small-input-control">
                                    <span class="input-group-text">Unit Price</span>
                                </div>
                                <input class="form-control small-input-control <% if(typeof(unit_dollar) !== 'undefined' && unit_dollar) { %><%= unit_dollar.class %><% } %>"
                                    name = "unit_dollar"
                                    type="number" aria-label="" aria-describedby="" size="" placeholder="0" min="" required>
                                <h6 class="price-label">.</h6>
                                <input class="form-control small-input-control <% if(typeof(unit_cents) !== 'undefined' && unit_cents) { %><%= unit_cents.class %><% } %>"
                                    name = "unit_cents"
                                    type="number" aria-label=""
                                    aria-describedby="" size="" placeholder="00" min="0" max="99" required>
                                <%- include('./_currency_dropdown.ejs') %>
                            </div>
                        </div>
                    <hr>
                    <div id="product-add-button-container">
                        <button id="add-product-button" type="submit" class="btn btn-primary" onclick="">Add
                            Product</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</div>
<script>
    let specItemCounter = 0
    function addSpec(){
        let skey = document.getElementById('speckey-input');
        let sval = document.getElementById('specval-input');
        let speclist = document.getElementsByClassName('speclist-section');
        if(skey.value && sval.value) {
            specItemCounter += 1;
            let spec =
            `
            <div class="input-group mb-3">
                <div class="input-group form-inline">
                    <div class="input-group-prepend small-input-control spec-input">
                        <span class="input-group-text">` + skey.value +`</span>
                    </div>
                    <input class="form-control spec-input" type="text"
                        name="spec_` + skey.value + `" value="` + sval.value + `"
                        aria-label="specval" aria-describedby="specval-basic-addon" size="" required>
                    <div class="input-group-append">
                        <button class="action-icon-button action-icon close-highlight-onhover-icon" type="button" data-toggle="tooltip" data-placement="left" data-original-title="remove"
                                title="remove" name="removespec" value="remove" onclick="removeSpec('` + 'spec-item-' + specItemCounter.toString() + `')">
                        <%- include('../assets/symbols/close.svg') %>
                        </button>
                    </div>
                </div>
            </div>
            `;
            specitem = document.createElement("DIV")
            specitem.id = "spec-item-" + specItemCounter.toString()
            specitem.classList.add('spec-item-container')
            specitem.innerHTML = spec
            skey.value = ""
            skey.innerHTML = ""
            sval.value = ""
            sval.innerHTML = ""
            if(speclist && speclist.length > 0 ) speclist[0].appendChild(specitem)

        }
    }

    function removeSpec(itemID){
        let e = document.getElementById(itemID)
        if(e) e.remove()
    }

    function clearImageValidation() {
        let imgInput = document.getElementById('add-product-images')
        if(imgInput) {
            imgInput.classList.remove('is-invalid')
        }
    }

    function validateImageFiles() {        
        let imgInput = document.getElementById('add-product-images')
        let imgInputInvalidElem = document.getElementById('add-product-invalid-images')        
        let imgFiles = imgInput.files
        let uploadLimit = <%= typeof (uploadLimit) === 'number' ? uploadLimit : 10 %>
        let uploadSize = <%= typeof (uploadSize) === 'number' ? uploadSize : 10485760 %>

        if(imgInput) {
            console.log('validating images...')
            if(imgFiles.length > uploadLimit) {
                imgInputInvalidElem.innerHTML = 'You cannot upload more than ' + uploadLimit.toString() + ' images.'
                imgInput.value = null
                imgInput.classList.add('is-invalid')
                return
            }
            
            let totalImgSize = 0

            for(let i=0;i<imgFiles.length;i++) {
                totalImgSize += imgFiles[i].size
                console.log('Total image size: ' + totalImgSize.toString())
                if(totalImgSize > uploadSize) {
                    imgInputInvalidElem.innerHTML = 'Upload size limit of ' + uploadSize.toString() + ' exceeded.'
                    imgInput.value = null
                    imgInput.classList.add('is-invalid')
                    return
                }
            }
        }
    }
</script>
