<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'sf') { %>show active<% } %>" id="storefronts-pane"
    role="tabpanel" aria-labelledby="storefronts-tab">
    <h2 class="pane-h2">Storefronts</h2>
    <div class="card-filter-section space-between">
        <div class="form-group form-inline mb-3 card-filter-selector">
            <label id="storefront-select-label" class="form-label" for="storefront-select">Show: </label>
            <select id="storefront-select" class="form-control" type="text" onchange="toggleStorefrontView()" name="storefronts"
                aria-label="storefront-select-label" aria-describedby="storefront-select-basic-addon">
                <option value="active" selected>Open</option>
                <option value="inactive">Closed</option>
            </select>
        </div>
        <div class="add-action-button-section">
            <a id="new-storefront-link" class="right add-storefront-link" href="#newstore"
                onclick="document.getElementById('newstore').removeAttribute('hidden');"><%- include('../assets/symbols/plus.svg') %>
                Add Storefront
            </a>
        </div>
    </div>
    <section id="storefront-list-section" class="content-pane-scroll-cards-section tab-scroll-pane">
      <!--
        <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0) { %>
        <% for(let i=0;i<shops.length;i++) { %>
        <div class="card <%= shops[i].status %>" <% if (shops[i].status == 'inactive'){ %>hidden<% } %>>
            <div class="card-body">
                <div class="actionable-card-pane">
                    <div class="address-view-card-pane">
                        <ul>
                            <li>
                                <span>
                                    <p class="item-card-label">
                                        <b><% if(typeof(shops[i].displayName) !== 'undefined') {%><%= shops[i].displayName %><% } else { %><%= shops[i].name %><% } %></b>
                                    </p>
                                    <div class=" item-card">
                                        <div class="item-card-left">
                                            <% if (typeof(shops[i].images) !== 'undefined' && Array.isArray(shops[i].images) && shops[i].images.length > 0) { %>
                                            <% for(let k=0;k<shops[i].images.length;k++) { %>
                                            <img class="storefront-image" alt="<%= shops[i].images[k].originalname %>" src="<%= shops[i].images[k].src %>" />
                                            <% } %>
                                            <% } else { %>
                                            <figure class="storefront-image">
                                                <%- include('../assets/symbols/shop.svg') %>
                                            </figure>
                                            <% } %>
                                        </div>
                                        <div class="item-card-right extra-info">
                                                <% if(typeof(shops[i].status !== 'undefined')) { %>
                                                    <h4>Status</h4>
                                                    <p>
                                                        <% if(shops[i].status == 'active') { %>
                                                        Open
                                                        <% } else { %>
                                                        Closed
                                                        <% } %>
                                                    </p>
                                                <% } %>
                                                <% if(typeof(shops[i].description) !== 'undefined') { %>
                                                    <h4>Description</h4>
                                                    <p>
                                                        <%= shops[i].description %>
                                                    </p>
                                                <% } %>
                                        </div>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="action-button-section">
                        <form class="edit-delete-action-form" method="POST" action="/user/shop">
                            <input type="hidden" name="id" value="upshop">
                            <input type="hidden" name="sid" value="<% if(typeof(shops[i]._id) !== 'undefined') { %><%= shops[i]._id %><% } %>">
                            <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                            <% if (shops[i].status == 'inactive'){ %>
                                <a href="/user/shop/edit?s=<%= shops[i]._id %>">
                            <button class=" action-icon-button  action-icon" type="button" data-toggle="tooltip" data-placement="left" title="Edit" name="update" value="edit">
                            <%- include('../assets/symbols/edit.svg') %>
                            </button></a>
                            <button class=" action-icon-button reactivate-icon action-icon" type="submit" data-toggle="tooltip"
                                data-placement="left" title="Re-activate" name="update" value="open">
                                <%- include('../assets/symbols/reload.svg') %>
                            </button>
                            <button class=" action-icon-button delete-icon action-icon" type="submit" data-toggle="tooltip" data-placement="left"
                                title="Delete" name="update" value="delete">
                                <%- include('../assets/symbols/bin.svg') %>
                            </button>
                            <%  } else { %>
                            <a href="/user/shop/edit?s=<%= shops[i]._id %>"><button class=" action-icon-button  action-icon" type="button" data-toggle="tooltip" data-placement="left" title="Edit" name="update" value="edit">
                            <%- include('../assets/symbols/edit.svg') %>
                            </button></a>
                            <button class=" action-icon-button close-icon action-icon" type="submit"  data-toggle="tooltip" data-placement="left" title="Close" name="update" value="close">
                                <%- include('../assets/symbols/no.svg') %>
                            </button>
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <%  } else { %>
        <p>No stores associated with account.</p>
        <% } %>
      -->
    </section>
    <nav id="storefront-list-section-pagination" class="content-nav-right" aria-label="Shop listing">
      <!--
        <% if (typeof(shops_pages) !== 'undefined' && shops_pages > 0) { %>
        <ul class="pagination text-center">
            <% if (typeof(shops_current) !== 'undefined' ) { %>
            <% if (shops_current == 1) { %>
            <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
            <li class="page-item"><a class="page-link" href="/user/shop/page/1">First</a></li>
            <% } %>
            <% let i = (Number(shops_current) > 5 ? Number(shops_current) - 4 : 1) %>
            <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(shops_current) + 4) && i <= shops_pages; i++) { %>
            <% if (i == shops_current) { %>
            <li class="page-item active"><a class="page-link"><%= i %></a></li>
            <% } else { %>
            <li class="page-item"><a class="page-link" href="/user/shop/page/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(shops_current) + 4 && i < shops_pages) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% } %>
            <% if (shops_current == shops_pages) { %>
            <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
            <li class="page-item"><a class="page-link" href="/user/shop/page/<%= shops_pages %>">Last</a></li>
            <% } %>
            <% } %>
        </ul>
        <% } %>
      -->
    </nav>
    <section class="standard-form-section" id="newstore" <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0 ){ %>hidden<% } %> >
        <hr>
        <h3>Add a new store</h3>
        <div>
            <button class="right action-icon-button action-icon" type="submit"  data-toggle="tooltip" data-placement="left" href="#add-storefront-button-section    "
                        title="Cancel" name="update" value="cancel" onclick="closeNewStoreForm()">
                                <%- include('../assets/symbols/close.svg') %>
            </button>
        </div>
        <form id="new-storefront-form" class="standard-form" autocomplete="off" action="/user/shop<% if(typeof(csrfToken) !== 'undefined') { %>?_csrf=<%=csrfToken%><% } %>" method="POST"
            oninput="" enctype="multipart/form-data" novalidate>
            <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.addresses) { %> disabled="disabled"
                <% } %>>
                <input type="hidden" name="id" value="st">

                <input type="hidden" name="uid"
                    value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="add-storefront-fullname-basic-addon">Shop Name</span>
                            </div>
                            <input id="add-storefront-fullname" class="form-control <% if(typeof(fullname) !== 'undefined') { %><%= fullname.class %><% } %>" type="text" name="fullname" value="<% if(typeof(fullname) !== 'undefined' && fullname.value) { %><%= fullname.value %><% } %>"
                                aria-label="Shop Name" aria-describedby="add-storefront-fullname-basic-addon" size="55" required>
                            <div id="add-storefront-invalid-fullname" class="invalid-feedback">
                                <% if(typeof(fullname) !== 'undefined' && fullname.class == 'is-invalid') { %><%= fullname.message %><% } else { %>
                                You must provide a valid shop name.
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="add-storefront-description-basic-addon">Description</span>
                        </div>
                        <textarea class="form-control" rows="4" cols="25" name="description" form="new-storefront-form"
                            placeholder="Store Description ..." aria-label="Store Description" aria-describedby="add-storefront-description-basic-addon"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-prepend-icon" id="add-storefront-fullimage-basic-addon" data-toggle="tooltip" data-placement="bottom" data-original-title="Shop Image" title="Shop Image"><%- include('../assets/symbols/picture.svg') %></span>
                            </div>
                            <input id="add-storefront-fullimage" class="form-control <% if(typeof(fullimage) !== 'undefined') { %><%= fullname.class %><% } %>" type="file" name="fullimage"
                                aria-label="Storefront Image" aria-describedby="add-storefront-fullimage-basic-addon" accept=".jpg,.jpeg,.png" multiple onchange="validateImageFiles()" onclick="clearImageValidation()">
                            <div id="add-storefront-invalid-fullimage" class="invalid-feedback">
                                <% if(typeof(fullimage) !== 'undefined' && fullimage.class == 'is-invalid') { %><%= fullimage.message %><% } else { %>
                                You must provide a valid image of type: jpg/jpeg/png.
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group mb-3">
                        <div class="form-check">
                            <input id="use-addr-checkbox" class="form-check-input <% if(typeof(setPrimary) !== 'undefined') { %><%= setPrimary.class %><% } %>" type="checkbox"
                                id="set-primary" name="setPrimary" value="true" required onchange="toggleAddressFields()" checked>
                            <label class="form-check-label" for="set-primary">
                                Use same address as user's address
                            </label>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                    <div class="form-callout mb-3">
                        <div>Or</div>
                        <p class="form-callout-legend">Provide different contact details for the shop by filling in the below.</p>
                    </div>
                    <hr>
                    <fieldset id="new-store-address-fieldset" disabled="disabled">
                        <%- include('./_address_form_fields.ejs') %>
                    </fieldset>
                    <hr>
                    <div class="form-callout mb-3">
                        <p class="form-callout-legend">Provide a contact number for the shop.</p>
                    </div>
                    <%- include('./_phoneNumber_form_fields') %>
                    <div id="storefront-add-button-container">
                        <button id="add-storefront-button" type="submit" class="btn btn-primary" onclick="">Add
                            Storefront</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</div>
<script>


function getStorefrontDetails(obj){
    console.log('Calling getStorefrontDetails....')
    var xhttp;
    xhttp=new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        //cFunction(this);
        //console.log(document.getElementById('storefronts-pane'))
        //console.log(typeof this.responseText);
        updateStorefrontView(JSON.parse(this.responseText))
        //console.log(this.responseText);
      }
    };
    //url = 'http://localhost:3005/api/get/shops?sid=12&uid=5f24af48d559ff4b42e0dc4d'
    url = location.protocol + '//' + location.hostname + ':' + location.port + '/api/get/shops?'+new URLSearchParams(obj).toString();
    console.log(url)
    xhttp.open("GET", url, true);
    xhttp.send();

    console.log('Ending getStorefrontDetails....')
}

 function respondToStorefrontVisibility(element, callback) {
  var options = {
    root: document.documentElement
  }
  var observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.intersectionRatio > 0) callback();
    });
  }, options);

  observer.observe(element);
}

respondToStorefrontVisibility(document.getElementById("storefronts-pane"), visible => {
	//console.log("Initial Call of Storefront Details!")
  //console.log('<%= user.id %>')
  let e = document.getElementById("storefront-select")
  getStorefrontDetails({sid: '12', uid: '<%= user.id %>',status: e.options[e.selectedIndex].value})
});

function updateStorefrontView(s){
  //console.log(typeof s)
  document.getElementById("storefront-list-section").innerHTML = ""
  if (s.shops.length > 0){
    for (ss in s.shops){
      let card = document.createElement("DIV")
      card.className = "card"
      let card_body = document.createElement("DIV")
      card_body.className = "card-body"
      let actionable_card_pane = document.createElement("DIV")
      actionable_card_pane.className = "actionable-card-pane"
      let address_view_card_pane = document.createElement("DIV")
      address_view_card_pane.className = "address-view-card-pane"
      let ul = document.createElement("UL")
      let li = document.createElement("LI")
      let span = document.createElement("SPAN")
      let p = document.createElement("P")
      p.className = "item-card-label"
      let b = document.createElement("B")
      b.innerHTML = s.shops[ss].displayName ? s.shops[ss].displayName : s.shops[ss].name
      p.appendChild(b)
      span.appendChild(p)
      let item_card = document.createElement("DIV")
      item_card.className = "item-card"
      let item_card_left = document.createElement("DIV")
      item_card_left.className = "item-card-left"
      //console.log(typeof s.shops[ss].images)
      if (typeof (s.shops[ss].images) !== 'undefined' && Array.isArray(s.shops[ss].images) && s.shops[ss].images.length > 0) {
        for (i in s.shops[ss].images){
          let storefront_image = document.createElement("IMG")
          storefront_image.className = "storefront-image"
          storefront_image.alt = s.shops[ss].images[i].originalname
          storefront_image.src = s.shops[ss].images[i].src
          console.log(s.shops[ss].images[i].src)
          console.log(s.shops[ss].images[i])
          item_card_left.appendChild(storefront_image)
        }
      } else {
        let figure = document.createElement("FIGURE")
        figure.className = "storefront-image"
        figure.innerHTML = `<%- include("../assets/symbols/shop.svg") %>`
        item_card_left.appendChild(figure)
      }
      item_card.appendChild(item_card_left)
      let item_card_right_extra_info = document.createElement("DIV")
      item_card_right_extra_info.className = "item-card-right extra-info"
      if (typeof (s.shops[ss].status) !== 'undefined') {
        let h4 = document.createElement("H4")
        h4.innerHTML = "Status"
        item_card_right_extra_info.appendChild(h4)
        let p_status = document.createElement("P")
        if (s.shops[ss].status == 'active') {
          p_status.innerHTML = 'Open'
        } else {
          p_status.innerHTML = 'Closed'
        }
        item_card_right_extra_info.appendChild(p_status)
      }
      if (typeof (s.shops[ss].description) !== 'undefined') {
        let h4 = document.createElement("H4")
        h4.innerHTML = "Description"
        item_card_right_extra_info.appendChild(h4)
        let p_desc = document.createElement("P")
        p_desc.innerHTML = s.shops[ss].description
        item_card_right_extra_info.appendChild(p_desc)
      }
      item_card.appendChild(item_card_right_extra_info)
      span.appendChild(item_card)
      li.appendChild(span)
      ul.appendChild(li)
      address_view_card_pane.appendChild(ul)
      actionable_card_pane.appendChild(address_view_card_pane)
      let action_button_section = document.createElement("DIV")
      action_button_section.className = "action-button-section"
      let edit_delete_action_form = document.createElement("FORM")
      edit_delete_action_form.className = "edit-delete-action-form"
      edit_delete_action_form.method = "POST"
      edit_delete_action_form.action = "/user/shop<% if(typeof(csrfToken) !== 'undefined') { %>?_csrf=<%=csrfToken%><% } %>"
      let input_id = document.createElement("INPUT")
      input_id.type = "hidden"
      input_id.name = "id"
      input_id.value = "upshop"
      edit_delete_action_form.appendChild(input_id)
      let input_sid = document.createElement("INPUT")
      input_sid.type = "hidden"
      input_sid.name = "sid"
      if (typeof(s.shops[ss]._id)  !== 'undefined') input_sid.value = s.shops[ss]._id
      edit_delete_action_form.appendChild(input_sid)
      let input_uid = document.createElement("INPUT")
      input_uid.type = "hidden"
      input_uid.name = "uid"
      if (typeof(s.shops[ss].owner)  !== 'undefined') input_uid.value = s.shops[ss].owner
      edit_delete_action_form.appendChild(input_uid)
      if (s.shops[ss].status == 'inactive') {
        let a = document.createElement("A")
        a.href = "/user/shop/edit?s="+s.shops[ss]._id
        let button_edit = document.createElement("BUTTON")
        button_edit.className = "action-icon-button  action-icon"
        button_edit.type="button"
        button_edit.title="Edit"
        button_edit.name="update"
        button_edit.value="edit"
        //button_edit.
        button_edit.innerHTML = `<%- include("../assets/symbols/edit.svg") %>`
        a.appendChild(button_edit)
        edit_delete_action_form.appendChild(a)
        let button_re_activate = document.createElement("BUTTON")
        button_re_activate.className = "action-icon-button reactivate-icon action-icon"
        button_re_activate.type="submit"
        button_re_activate.title="Re-activate"
        button_re_activate.name="update"
        button_re_activate.value="open"
        //button_re_activate.
        button_re_activate.innerHTML = `<%- include("../assets/symbols/reload.svg") %>`
        edit_delete_action_form.appendChild(button_re_activate)
        let button_delete = document.createElement("BUTTON")
        button_delete.className = "action-icon-button delete-icon action-icon close-icon"
        button_delete.type="submit"
        button_delete.title="Delete"
        button_delete.name="update"
        button_delete.value="delete"
        //button_delete.
        button_delete.innerHTML = `<%- include("../assets/symbols/bin.svg") %>`
        edit_delete_action_form.appendChild(button_delete)
      } else {
        let a = document.createElement("A")
        a.href = "/user/shop/edit?s="+s.shops[ss]._id
        let button_edit = document.createElement("BUTTON")
        button_edit.className = "action-icon-button  action-icon"
        button_edit.type="button"
        button_edit.title="Edit"
        button_edit.name="update"
        button_edit.value="edit"
        //button_edit.
        button_edit.innerHTML = `<%- include("../assets/symbols/edit.svg") %>`
        a.appendChild(button_edit)
        edit_delete_action_form.appendChild(a)
        let button_close = document.createElement("BUTTON")
        button_close.className = "action-icon-button delete-icon action-icon close-icon"
        button_close.type="submit"
        button_close.title="Close"
        button_close.name="update"
        button_close.value="close"
        //button_close.
        button_close.innerHTML = `<%- include("../assets/symbols/no.svg") %>`
        edit_delete_action_form.appendChild(button_close)
      }
      action_button_section.appendChild(edit_delete_action_form)
      actionable_card_pane.appendChild(action_button_section)
      card_body.appendChild(actionable_card_pane)
      card.appendChild(card_body)
      document.getElementById("storefront-list-section").appendChild(card)
    }
  } else {
    let p = document.createElement("P")
    p.innerHTML = "No stores associated with account."
    document.getElementById("storefront-list-section").appendChild(p)
  }
  //document.getElementById().innerHTML =
  document.getElementById("storefront-list-section-pagination").innerHTML = ""
  if (typeof(s.total_pages) !== 'undefined' && s.total_pages > 0) {
    let pagination_text_center = document.createElement("UL")
    pagination_text_center.className = "pagination text-center"
    if (typeof(s.current_page) !== 'undefined' ) {
      if (s.current_page == 1) {
        let page_item_disabled = document.createElement("LI")
        page_item_disabled.className = "page-item disabled"
        let a = document.createElement("A")
        a.className = "page-link"
        a.innerHTML = "First"
        page_item_disabled.appendChild(a)
        pagination_text_center.appendChild(page_item_disabled)
      } else {
        let page_item = document.createElement("LI")
        page_item.className = "page-item"
        let a = document.createElement("A")
        a.className = "page-link"
        //a.href = "/user/shop/page/1"
        a.onclick = function () {
          let e = document.getElementById("storefront-select")
          getStorefrontDetails({sid: '12', uid: '<%= user.id %>',page: 1,status: e.options[e.selectedIndex].value})
        }
        a.innerHTML = "First"
        page_item.appendChild(a)
        pagination_text_center.appendChild(page_item)
      }
      let i = (Number(s.current_page) > 5 ? Number(s.current_page) - 4 : 1)
      if (i !== 1) {
        let page_item_disabled = document.createElement("LI")
        page_item_disabled.className = "page-item disabled"
        let a = document.createElement("A")
        a.className = "page-link"
        a.innerHTML = "..."
        page_item_disabled.appendChild(a)
        pagination_text_center.appendChild(page_item_disabled)
      }
      for (; i <= (Number(s.current_page) + 4) && i <= s.total_pages; i++) {
        let j = i
        if (i == s.current_page) {
          let page_item_active = document.createElement("LI")
          page_item_active.className = "page-item active"
          let a = document.createElement("A")
          a.className = "page-link"
          a.innerHTML = i
          page_item_active.appendChild(a)
          pagination_text_center.appendChild(page_item_active)
        } else {
          let page_item = document.createElement("LI")
          page_item.className = "page-item"
          let a = document.createElement("A")
          a.className = "page-link"
          //a.href = "/user/shop/page/"+i
          a.onclick = function () {
            console.log({sid: '12', uid: '<%= user.id %>',page: j})
            let e = document.getElementById("storefront-select")
            console.log(e.options[e.selectedIndex].value)
            getStorefrontDetails({sid: '12', uid: '<%= user.id %>',page: j, status: e.options[e.selectedIndex].value})
          }
          a.innerHTML = i
          page_item.appendChild(a)
          pagination_text_center.appendChild(page_item)
        }
        if (i == Number(s.current_page) + 4 && i < s.total_pages) {
          let page_item_disabled = document.createElement("LI")
          page_item_disabled.className = "page-item disabled"
          let a = document.createElement("A")
          a.className = "page-link"
          a.innerHTML = "..."
          page_item_disabled.appendChild(a)
          pagination_text_center.appendChild(page_item_disabled)
        }
      }
      if (s.current_page == s.total_pages) {
        let page_item_disabled = document.createElement("LI")
        page_item_disabled.className = "page-item disabled"
        let a = document.createElement("A")
        a.className = "page-link"
        a.innerHTML = "Last"
        page_item_disabled.appendChild(a)
        pagination_text_center.appendChild(page_item_disabled)
      } else {
        let page_item = document.createElement("LI")
        page_item.className = "page-item"
        let a = document.createElement("A")
        a.className = "page-link"
        //a.href = "/user/shop/page/"+s.total_pages
        a.onclick = function () {
          let e = document.getElementById("storefront-select")
          getStorefrontDetails({sid: '12', uid: '<%= user.id %>',page: s.total_pages, status: e.options[e.selectedIndex].value})
        }
        a.innerHTML = "Last"
        page_item.appendChild(a)
        pagination_text_center.appendChild(page_item)
      }
    }
    document.getElementById("storefront-list-section-pagination").appendChild(pagination_text_center)
  }
}

function toggleStorefrontView(){
    let e = document.getElementById("storefront-select")
    // TODO: Get active page to carry-over when status change
    //let pagination_section = document.getElementById("storefront-list-section-pagination")
    //let v = pagination_section.getElementsByClassName(names)
    getStorefrontDetails({sid: '12', uid: '<%= user.id %>', status: e.options[e.selectedIndex].value})
    /*
    let cardSelector = document.getElementById('storefront-select')
    let cardList = document.getElementById('storefront-list-section')
    if (cardSelector && cardSelector.value == 'closed'){
        let z = cardList.querySelectorAll(".card")
        for (const zz of z) {
            zz.setAttribute('hidden', true)
        }
        let y = cardList.querySelectorAll(".inactive")
        for (const yy of y) {
            yy.removeAttribute('hidden')
        }
    } else if (cardSelector && cardSelector.value == 'open') {
        let z = cardList.querySelectorAll(".card")
        for (const zz of z) {
            zz.setAttribute('hidden', true)
        }
        let y = cardList.querySelectorAll(".active")
        for (const yy of y) {
            yy.removeAttribute('hidden')
        }
    } else {
        console.log(cardSelector.value);
    }
    */
}

function toggleAddressFields(){
    let useAddr = document.getElementById('use-addr-checkbox')
    let addrFieldSet = document.getElementById('new-store-address-fieldset')
    if(useAddr && useAddr.checked) {
        if(addrFieldSet) {
            addrFieldSet.setAttribute('disabled', 'disabled')
        }
    } else {
        if (addrFieldSet) {
            addrFieldSet.removeAttribute('disabled')
        }
    }
}

function closeNewStoreForm(){
    document.getElementById('newstore').setAttribute('hidden', true)
    document.getElementById('new-storefront-link').scrollIntoView(false)
}

function clearImageValidation() {
    let imgInput = document.getElementById('add-storefront-fullimage')
    if (imgInput) {
        imgInput.classList.remove('is-invalid')
    }
}

function validateImageFiles() {
    let imgInput = document.getElementById('add-storefront-fullimage')
    let imgInputInvalidElem = document.getElementById('add-storefront-invalid-fullimage')
    let imgFiles = imgInput.files
    let uploadLimit = <%= typeof (uploadLimit) === 'number' ? uploadLimit : 10 %>
        let uploadSize = <%= typeof (uploadSize) === 'number' ? uploadSize : 10485760 %>

    if (imgInput) {
        console.log('validating images...')
        if (imgFiles.length > uploadLimit) {
            imgInputInvalidElem.innerHTML = 'You cannot upload more than ' + uploadLimit.toString() + ' images.'
            imgInput.value = null
            imgInput.classList.add('is-invalid')
            return
        }

        let totalImgSize = 0

        for (let i = 0; i < imgFiles.length; i++) {
            totalImgSize += imgFiles[i].size
            console.log('Total image size: ' + totalImgSize.toString())
            if (totalImgSize > uploadSize) {
                imgInputInvalidElem.innerHTML = 'Upload size limit of ' + uploadSize.toString() + ' exceeded.'
                imgInput.value = null
                imgInput.classList.add('is-invalid')
                return
            }
        }
    }
}

//toggleStorefrontView()
</script>
