<main class="container">
    <section class="main-panel">
        <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" id="account-settings-tablist" role="tablist">
            <li class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link" id="security-tab" data-toggle="tab" role="tab" aria-controls="security" aria-selected="false" href="#security-pane">Login & Security</a>
            </li>
            <li class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link active" id="contact-tab" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="true" href="#contact-pane">Contact Details</a>
            </li>
            <li class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link" id="addresses-tab" data-toggle="tab" role="tab" aria-controls="addresses" aria-selected="false" href="#addresses-pane">Addresses</a>
            </li>
            <li class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link" id="settings-tab" data-toggle="tab" role="tab" aria-controls="settings" aria-selected="false" href="#settings-pane">Preferences</a>
            </li>
        </ul>
        <div class="content-pane tab-content" id="account-settings-tab-content">
            <% if(typeof(error) !== 'undefined') { %>
            <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <% } %>
            <div class="tab-pane fade" id="security-pane" role="tabpanel" aria-labelledby="security-tab">
                <section class="standard-form-section">
                    <form id="contact-form" class="standard-form" autocomplete="off" action="/user/account" method="POST" oninput=""
                        novalidate>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="username-basic-addon">Email</span>
                                </div>
                                <input id="username" class="form-control <% if(typeof(username) !== 'undefined') { %><%= username.class %><% } %>"
                                    type="text" name="username" placeholder="Email Address"
                                    value="<% if(typeof(user.emails["0"].value) !== 'undefined') { %><%= user.emails["0"].value %><% } %>"
                                    aria-label="email" aria-describedby="username-basic-addon" size="25" readonly>
                                <div id="invalid-username" class="invalid-feedback">
                                    <% if(typeof(username) !== 'undefined' && username.class == 'is-invalid') { %><%= username.message %><% } else { %>Please
                                    enter a valid email address. <% } %>
                                </div>
                            </div>
                            <small id="validationUsername" class="form-text text-muted  validation-msg hidden"></small>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="passowrd-basic-addon">Password</span>
                                </div>
                                <input id="password" class="form-control <% if(typeof(password) !== 'undefined') { %><%= password.class %><% } %>"
                                    type="password" name="password" value="" aria-label="Password" aria-describedby="password-basic-addon" size="25"
                                    required>
                                <div id="invalid-password" class="invalid-feedback">
                                    <% if(typeof(password) !== 'undefined' && password.class == 'is-invalid') { %><%= password.message %><% } else { %>Please
                                    enter a password. <% } %>
                                </div>
                            </div>
                            <small id="passwordHint" class="form-text text-muted hidden"></small>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="passowrd-basic-addon">Re-enter Password</span>
                                </div>
                                <input id="repassword" class="form-control <% if(typeof(password) !== 'undefined') { %><%= password.class %><% } %>"
                                    type="password" name="password" value="" aria-label="Password" aria-describedby="password-basic-addon" size="25"
                                    required>
                                <div id="invalid-password" class="invalid-feedback">
                                    <% if(typeof(password) !== 'undefined' && password.class == 'is-invalid') { %><%= password.message %><% } else { %>Please
                                    enter a password. <% } %>
                                </div>
                            </div>
                            <small id="repasswordHint" class="form-text text-muted hidden"></small>
                            <hr>
                            <div id="security-update-button-container">
                                <button id="update-security-button" type="submit" class="btn btn-danger" onclick="">Update</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="tab-pane fade show active" id="contact-pane" role="tabpanel" aria-labelledby="contact-tab">
                <section class="standard-form-section">
                    <form id="contact-form" class="standard-form" autocomplete="off" action="/user/account" method="POST" oninput=""
                        novalidate>
                        <div class="form-group">                            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="givenName-basic-addon">Given Name</span>
                                </div>
                                <input id="givenName"
                                    class="form-control <% if(typeof(givenName) !== 'undefined') { %><%= givenName.class %><% } %>"
                                    type="text" name="givenName"
                                    value="<% if(typeof(user.name.givenName) !== 'undefined') { %><%= user.name.givenName %><% } %>"
                                    aria-label="Given Name" aria-describedby="givenName-basic-addon" size="25" required>
                                <div id="invalid-givenName" class="invalid-feedback">
                                    <% if(typeof(givenName) !== 'undefined' && givenName.class == 'is-invalid') { %><%= givenName.message %><% } else { %>You
                                    must provide your Given Name.<% } %>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="familyName-basic-addon">Family Name</span>
                                </div>
                                <input id="familyName"
                                    class="form-control <% if(typeof(familyName) !== 'undefined') { %><%= familyName.class %><% } %>"
                                    type="text" name="familyName"
                                    value="<% if(typeof(user.name.familyName) !== 'undefined') { %><%= user.name.familyName %><% } %>"
                                    aria-label="Family Name" aria-describedby="familyName-basic-addon" size="25" required>
                                <div id="invalid-familyName" class="invalid-feedback">
                                    <% if(typeof(familyName) !== 'undefined' && familyName.class == 'is-invalid') { %><%= familyName.message %><% } else { %>You
                                    must provide your Family Name.<% } %>
                                </div>
                            </div>
                            <hr>
                            <p>Primary Address</p>
                            <div class="input-group mb-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="streetaddress-basic-addon">Street & No.</span>
                                    </div>
                                    <input id="addressStreet" class="form-control" type="text" name="addressStreet" value="" aria-label="Address"
                                        aria-describedby="streetaddress-basic-addon" size="25" required>
                                    <div id="invalid-street" class="invalid-feedback">
                                        You must provide an address.
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="addressLocality-basic-addon">Community / Town / City</span>
                                    </div>
                                    <input id="addressLocality" class="form-control" type="text" name="addressLocality" value=""
                                        aria-label="Address" aria-describedby="addressLocality-basic-addon" size="25" required>
                                    <div id="invalid-street" class="invalid-feedback">
                                        You must provide an address location.
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="form-group form-inline">
                                    <label id="parishLabel" class="form-label" for="addressRegion">Parish</label>
                                    <select id="addressRegion" class="form-control" type="text" name="addressRegion" value=""
                                        aria-label="addressRegion" aria-describedby="addressRegion-basic-addon">
                                        <option selected="selected">Kingston & St. Andrew</option>
                                        <option>St. Catherine</option>
                                        <option>Clarendon</option>
                                        <option>Manchester</option>
                                        <option>St. Elizabeth</option>
                                        <option>Westmoreland</option>
                                        <option>Hanover</option>
                                        <option>St. James</option>
                                        <option>Trelawny</option>
                                        <option>St. Ann</option>
                                        <option>St. Mary</option>
                                        <option>Portland</option>
                                        <option>St. Thomas</option>
                                    </select>
                                    <div id="invalid-region" class="invalid-feedback">
                                        You must select a region.
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="form-group form-inline">
                                    <label id="postLabel" class="form-label" for="addressPostcode">Postcode</label>
                                    <input id="addressPostcode" class="form-control" type="text" name="addressPostcode" value=""
                                        aria-label="Postcode" aria-describedby="addressPostcode-basic-addon" size="5" required>
                                    <div id="invalid-postcode" class="invalid-feedback">
                                        Please enter a valid postal code.
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="form-group form-inline">
                                    <div class="form-group form-inline">
                                        <label id="addressCountryLabel" class="form-label" for="addressCountry">Country</label>
                                        <select id="addressCountry" class="form-control" type="text" name="addressCountry" value=""
                                            aria-label="addressCountry" aria-describedby="addressCountry-basic-addon" readonly>
                                            <option selected="selected">Jamaica</option>
                                        </select>
                                        <div id="invalid-country" class="invalid-feedback">
                                            You must select a country.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div id="update-contact-button-container">
                                <button id="update-contact-button" type="submit" class="btn btn-danger" onclick="">Update</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="tab-pane fade" id="addresses-pane" role="tabpanel" aria-labelledby="addresses-tab">
                <section class="standard-form-section">
                    <form id="contact-form" class="standard-form" autocomplete="off" action="/user/account" method="POST" oninput=""
                    novalidate>
                        <div class="form-group">
                            <hr>
                            <div id="addresses-add-button-container">
                                <button id="add-addresses-button" type="submit" class="btn btn-danger" onclick="">Add Address</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="tab-pane fade" id="settings-pane" role="tabpanel" aria-labelledby="settings-tab">
                <section class="standard-form-section">
                    <form id="contact-form" class="standard-form" autocomplete="off" action="/user/account" method="POST" oninput=""
                        novalidate>
                        <div class="form-group">
                            <hr>
                            <div id="settings-update-button-container">
                                <button id="update-settings-button" type="submit" class="btn btn-danger" onclick="">Update</button>
                            </div>                
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>
</main>
