
                <div class="form-group form-inline mb-3">
                    <label class="form-label" for="adddressType">Type of Address</label>
                    <select class="form-control <% if(typeof(addressType) !== 'undefined') { %><%= addressType.class %><% } %>"
                        type="text" name="addressType" value="" aria-label="addressType" aria-describedby="addressType-basic-addon">
                        <option selected="selected">home</option>
                        <option>work</option>
                        <option>other</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">No. & Street</span>
                    </div>
                    <input class="form-control <% if(typeof(locals.addressStreet) !== 'undefined') { %><%= addressStreet.class %>><% } %>" type="text" name="addressStreet" value="<% if(typeof(addressStreet) !== 'undefined' && addressStreet.class == 'is-valid') { %><%= addressStreet.value %><% } %>"
                        aria-label="Street Address" aria-describedby="addressStreet-basic-addon" size="25" required>
                    <div class="invalid-feedback">
                    <% if(typeof(addressStreet) !== 'undefined' && addressStreet.class == 'is-invalid') { %><%= addressStreet.message %><% } else { %>You must provide an address.<% } %>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="form-group form-inline">
                        <label class="form-label" for="addressState">Parish / State</label>
                        <select class="form-control <% if(typeof(addressState) !== 'undefined') { %><%= addressState.class %><% } %>" type="text" name="AddressRegion" value=""
                            aria-label="State Address" aria-describedby="AddressRegion-basic-addon">
                            <option selected="selected">Kingston & St. Andrew</option>
                            <option>St. Catherine</option>
                            <option>Clarendon</option>
                            <option>Manchester</option>
                            <option>St. Elizabeth</option>
                            <option>Westmoreland</option>
                            <option>Hanover</option>
                            <option>St. James</option>
                            <option>Trelawny</option>
                            <option>St. Ann</option>
                            <option>St. Mary</option>
                            <option>Portland</option>
                            <option>St. Thomas</option>
                        </select>
                        <div class="invalid-feedback">
                        <% if(typeof(AddressRegion) !== 'undefined' && AddressRegion.class == 'is-invalid') { %><%= AddressRegion.message %><% } else { %>You must select a valid Parish / State. <% } %>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="form-group form-inline">
                        <label class="form-label" for="addressPostcode">Postcode</label>
                        <input class="form-control <% if(typeof(locals.addressPostcode) !== 'undefined') { %><%= addressPostcode.class %><% } %>" type="text" name="addressPostcode" value="<% if(typeof(addressPostcode) !== 'undefined' && addressPostcode.class == 'is-valid') { %><%= addressPostcode.value %><% } %>"
                            aria-label="Postal Code" aria-describedby="addressPostcode-basic-addon" size="5" required>
                        <div class="invalid-feedback">
                        <% if(typeof(addressPostcode) !== 'undefined' && addressPostcode.class == 'is-invalid') { %><%= addressPostcode.message %><% } else { %>Please enter a valid postal code.<% } %>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="form-group form-inline">
                        <label class="form-label" for="addressCountry">Country</label>
                        <select class="form-control <% if(typeof(addressCountry) !== 'undefined') { %><%= addressCountry.value %><% } %>" type="text" name="addressCountry"
                            value="" aria-label="Country" aria-describedby="addressCountry-basic-addon">
                            <option>Jamaica</option>
                        </select>
                        <div class="invalid-feedback">
                        <% if(typeof(addressCountry) !== 'undefined' && addressCountry.class == 'is-invalid') { %><%= addressCountry.message %><% } else { %>You must select a country.<% } %>
                        </div>
                    </div>
                </div>
