<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'ls') { %>show active<% } %>" id="security-pane"
    role="tabpanel" aria-labelledby="security-tab">
    <h2 class="pane-h2">Login & Security</h2>
    <section class="standard-form-section">
        <form id="security-form" class="standard-form" autocomplete="off" action="/user/account" method="POST"
            oninput="" novalidate>
            <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.security) { %> disabled="disabled"
                <% } %>>
                <input type="hidden" name="id" value="ls">

                <input type="hidden" name="uid"
                    value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                <div class="verfification-status mb-3">
                    <label>Verification Status</label>
                    <% if(typeof(verifiedUser) !== 'undefined' && verifiedUser) { %>
                    <span class="badge badge-success">verified</span>
                    <% } else { %>
                    <span><a href="/verify" class="badge badge-danger">unverified</a></span>
                    <% } %>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="username-basic-addon">Username</span>
                        </div>
                        <input id="username"
                            class="form-control <% if(typeof(username) !== 'undefined') { %><%= username.class %><% } %>"
                            type="text" name="username" placeholder="Email Address"
                            value="<% if(typeof(user.emails["0"].value) !== 'undefined') { %><%= user.emails["0"].value %><% } %>"
                            aria-label="email" aria-describedby="username-basic-addon" size="25" readonly>
                        <div id="invalid-username" class="invalid-feedback">
                            <% if(typeof(username) !== 'undefined' && username.class == 'is-invalid') { %><%= username.message %><% } else { %>Please
                            enter a valid email address. <% } %>
                        </div>
                    </div>
                    <small id="validationUsername" class="form-text text-muted  validation-msg hidden"></small>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="passowrd-basic-addon">Current Password</span>
                        </div>
                        <input id="password"
                            class="form-control <% if(typeof(password) !== 'undefined') { %><%= password.class %><% } %>"
                            type="password" name="password" value="" aria-label="Password"
                            aria-describedby="password-basic-addon" size="25" required>
                        <div id="invalid-password" class="invalid-feedback">
                            <% if(typeof(password) !== 'undefined' && password.class == 'is-invalid') { %><%= password.message %><% } else { %>Please
                            enter a password. <% } %>
                        </div>
                    </div>
                    <small id="passwordHint" class="form-text text-muted hidden"></small>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="nw_pwd-basic-addon">New Password</span>
                        </div>
                        <input id="nw_pwd"
                            class="form-control <% if(typeof(nw_pwd) !== 'undefined') { %><%= nw_pwd.class %><% } %>"
                            type="password" name="nw_pwd" value="" aria-label="Password"
                            aria-describedby="nw_pwd-basic-addon" size="25" required>
                        <div id="invalid-nw_pwd" class="invalid-feedback">
                            <% if(typeof(nw_pwd) !== 'undefined' && nw_pwd.class == 'is-invalid') { %><%= nw_pwd.message %><% } else { %>Invalid
                            or mismatched. <% } %>
                        </div>
                    </div>
                    <small id="nw_pwd-hint" class="form-text text-muted hidden"></small>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="new_pwd-basic-addon">Confirm Password</span>
                        </div>
                        <input id="new_pwd-confirm"
                            class="form-control <% if(typeof(nw_pwd_confirm) !== 'undefined') { %><%= nw_pwd_confirm.class %><% } %>"
                            type="password" name="nw_pwd_confirm" value="" aria-label="nw_pwd_confirm"
                            aria-describedby="nw_pwd_confirm-basic-addon" size="25" required>
                        <div id="invalid-nw_pwd_confirm" class="invalid-feedback">
                            <% if(typeof(nw_pwd_confirm) !== 'undefined' && nw_pwd_confirm.class == 'is-invalid') { %><%= nw_pwd_confirm.message %><% } else { %>Invalid
                            or mismatched. <% } %>
                        </div>
                    </div>
                    <small id="nw_pwd_confirm-Hint" class="form-text text-muted hidden"></small>
                    <hr>
                    <div id="security-update-button-container">
                        <button id="update-security-button" type="submit" class="btn btn-light"
                            onclick="">Update</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</div>