<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'em') { %>show active<% } %>" id="emailsTab"
    role="tabpanel" aria-labelledby="emails-tab">
    <h2 class="tab-pane-h2">Archived</h2>
    <section id="emails-list" class="content-pane-scroll-cards-section tab-scroll-pane">
        <% if (typeof(emails) !== 'undefined' && Array.isArray(emails) && emails.length > 0) { %>
        <% for(let i=0;i<emails.length;i++) { %>
        <div class="card">
            <div class="card-body">
                <div class="actionable-card-pane">
                    <div>
                        <ul>
                            <li><%= emails[i].value %></li>
                            <% if(emails[i].verified) {%>
                            <li class="tick-icon badge ">
                                <p>Verified:
                                    <%- include('assets/symbols/tick.svg') %></p>
                            </li>
                            <% } %>
                            <% if(emails[i].primary) { %>
                            <li class="tick-icon badge">
                                <p>Primary:
                                    <%- include('assets/symbols/tick.svg') %></p>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="action-button-section">
                        <form class="delete-action-form" method="POST" action="/user/account">
                            <input type="hidden" name="id" value="del-em">
                            <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                            <input type="hidden" name="email" value="<% if(typeof(emails) !== 'undefined' && Array.isArray(emails)) { %><%= emails[i].value %><% } %>">
                            <button class=" action-icon-button delete-icon action-icon" type="submit"
                                data-toggle="tooltip" data-placement="left" title="Delete">
                                <%- include('assets/symbols/bin.svg') %>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <%  } else { %>
        <p>No email addresses associated with account.</p>
        <% } %>
        <hr>
    </section>
    <section class="standard-form-section">
        <form id="email-form" class="standard-form" autocomplete="off" action="/user/account" method="POST" oninput=""
            novalidate>
            <div class="form-group form-inline">
                <div class="input-group mb-3">
                    <input type="hidden" name="id" value="add-em">
                    <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                    <label>Add email address</label>
                    <input class="form-control space-right-05" type="text" name="email" value="">
                    <button id="add-email-button" type="submit" class="btn btn-light" onclick="">Add</button>
                </div>
            </div>
        </form>
    </section>
</div>
