<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'in' ) { %>show active<% } %>"
    id="inventory-pane" role="tabpanel" aria-labelledby="product-inventory-tab">
    <h2 class="tab-pane-h2">All Products</h2>
    <div class="card-filter-section">
        <div class="form-group form-inline mb-3 card-filter-selector">
        <label id="shop-select-label" class="form-label" for="shop-select">From: </label>
        <select id="shop-select"
                class="form-control" type="text" onchange="toggleShopSelector()"
                name="shops" aria-label="shop-select-label" aria-describedby="shop-select-basic-addon">
                    <option value="all-products-cards" selected>All</option>
                    <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0) { %>
                    <% for(let i=0;i<shops.length;i++) { %>
                    <option value="<%= shops[i]._id %>"><%= shops[i].displayName %></option>
                    <% } %>
                    <% } %>
            </select>
        </div>
        <div class="form-group form-inline mb-3 card-filter-selector">
            <label id="product-status-select-label" class="form-label" for="product-status-select">Filter: </label>
            <select id="product-status-select" class="form-control" type="text" onchange="toggleShopSelector()" name="product-status-selector"
                aria-label="product-status-select-label" aria-describedby="product-status-select-basic-addon">
                <option value="all-products-cards" selected>None</option>
                <option value="all-active">Active</option>
                <option value="all-inactive">Inactive</option>
            </select>
        </div>
    </div>
    <hr>
    <section id="address-list-section" class="content-pane-scroll-cards-section tab-scroll-pane">
        <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0) { %>
            <% for(let j=0;j<shops.length;j++) { %>
                <div class="shop-products-card" id="<%= shops[j]._id %>" name="<% shops[j].name %>" hidden="true">
                <% if (typeof(shops[j].products) !== 'undefined' && Array.isArray(shops[j].products) && shops[j].products.length > 0) { %>
                    <% for(let i=0;i<shops[j].products.length;i++) { %>
                        <div class="card">
                            <div class="card-body">
                                <div class="actionable-card-pane">
                                    <div class="address-view-card-pane">
                                        <ul><li>
                                            <span>
                                                <p class="item-card-label">
                                                    <b><%= shops[j].products[i].displayName %></b>
                                                </p>
                                                <div class="item-card">
                                                    <div class="item-card-left">
                                                        <img alt="<%= shops[j].products[i].image.originalname %>" class="card-product-image"
                                                            src="<%= shops[j].products[i].image.src %>" />
                                                    </div>
                                                    <div class="item-card-right extra-info">
                                                        <h4>Availability</h4>
                                                        <p>
                                                            <% if(typeof(shops[j].products[i].quantity) !== 'undefined' &&  shops[j].products[i].quantity > 0 ) { %>
                                                            <%= shops[j].products[i].quantity %>
                                                            <% } else { %>
                                                                <%= 'Out of Stock' %>
                                                            <% } %>
                                                        </p>
                                                        <h4>Description</h4>
                                                        <p><%= shops[j].products[i].description %></p>
                                                    </div>
                                                </div>
                                            </span>
                                        </li></ul>
                                    </div>
                                    <div class="action-button-section">
                                        <form class="edit-delete-action-form" method="POST" action="/user/shop">
                                            <input type="hidden" name="id" value="upproduct">
                                            <input type="hidden" name="pid" value="<% if(typeof(shops[j].products[i]._id) !== 'undefined') { %><%= shops[j].products[i]._id %><% } %>">

                                            <input type="hidden" name="sid" value="<% if(typeof(shops[j].products[i].sid) !== 'undefined') { %><%= shops[j].products[i].sid %><% } %>">
                                            <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                                            <button class=" action-icon-button  action-icon" type="submit" data-toggle="tooltip" data-placement="left" title="Edit" name="update" value="edit">
                                            <%- include('assets/symbols/edit.svg') %>
                                            </button>
                                            <% if(shops[j].products[i].status == 'inactive') { %>
                                                <button class=" action-icon-button reactivate-icon action-icon" type="submit" data-toggle="tooltip" data-placement="left"
                                                    title="Re-activate" name="update" value="reactivate">
                                                    <%- include('assets/symbols/reload.svg') %>
                                                </button>
                                            <% } %>
                                            <button class=" action-icon-button delete-icon action-icon" type="submit"  data-toggle="tooltip" data-placement="left" title="Delete" name="update" value="delete">
                                                <%- include('assets/symbols/bin.svg') %>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <%  } else { %>
                    <div class="no-products-card" data-value="<%= shops[j]._id %>">
                        <p>No products associated with shop.</p>
                    </div>
                <% } %>
                </div>
            <% } %>
        <%  } %>
    </section>
</div>
<script>
function toggleShopSelector(){
    let elem = document.getElementById('shop-select')
    let elemFilter = document.getElementById('product-status-select')
    let x = document.getElementsByClassName('shop-products-card')
    let w = document.getElementsByClassName('no-products-card')
    if (elem && elem.value == 'all-products-cards') {
        for (const y of w) {
            y.setAttribute('hidden', true)
        }
        for (const z of x) {
            z.removeAttribute('hidden')
        }
    } else {
        for (const y of x) {
            y.setAttribute('hidden', true);
        }

        for (const z of w) {
            z.removeAttribute('hidden')
        }
        
        let z = document.getElementById(elem.value);
        if(z) {
            z.removeAttribute('hidden');
        }
    }
}
toggleShopSelector()
</script>
