<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'in' ) { %>show active<% } %>"
    id="inventory-pane" role="tabpanel" aria-labelledby="product-inventory-tab">
    <h2 class="tab-pane-h2">All Products</h2>
    <div class="card-filter-section">
        <div class="form-group form-inline mb-3 card-filter-selector">
        <label id="shop-select-label" class="form-label" for="shop-select">From: </label>
        <select id="shop-select"
                class="form-control" type="text" onchange="toggleShopSelector()"
                name="shops" aria-label="shop-select-label" aria-describedby="shop-select-basic-addon">
            <option value="all-products-cards" selected>All</option>
            <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0) { %>
            <% for(let i=0;i<shops.length;i++) { %>
            <option value="<%= shops[i]._id %>"><%= shops[i].displayName %></option>
            <% } %>
            <% } %>
        </select>
        </div>
        <div class="form-group form-inline mb-3 card-filter-selector">
            <label id="product-filter-select-label" class="form-label" for="product-filter-select">Filter: </label>
            <select id="product-filter-select" class="form-control" type="text" onchange="toggleShopSelector()" name="product-filter-selector"
                aria-label="product-filter-select-label" aria-describedby="product-filter-select-basic-addon">
                <option value="all-products-cards" selected>None</option>
                <option value="all-active">Active</option>
                <option value="all-inactive">Withdrawn</option>
            </select>
        </div>
    </div>
    <hr>
    <section id="product-list-section" class="content-pane-scroll-cards-section tab-scroll-pane">
        <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0) { %>
            <% for(let j=0;j<shops.length;j++) { %>
                <div class="shop-products-card" id="<%= shops[j]._id %>" name="<% shops[j].name %>" hidden="true">
                <% if (typeof(shops[j].products) !== 'undefined' && Array.isArray(shops[j].products) && shops[j].products.length > 0) { %>
                    <% for(let i=0;i<shops[j].products.length;i++) { %>
                    <div class="card <% if(shops[j].products[i].status) { %><%= shops[j]._id + '.' + shops[j].products[i].status %><% } %>">
                            <div class="card-body">
                                <div class="actionable-card-pane">
                                    <div class="product-view-card-pane">
                                        <ul><li>
                                            <span>
                                                <p class="item-card-label">
                                                    <b><%= shops[j].products[i].displayName %></b>
                                                </p>
                                                <div class="item-card">
                                                    <div class="item-card-left">
                                                        <% if(typeof(shops[j].products[i].images) !== 'undefined' && Array.isArray(shops[j].products[i].images) && shops[j].products[i].images.length > 0) { %>
                                                          <% for(let k=0;k<shops[j].products[i].images.length;k++) { %>
                                                        <img alt="<%= shops[j].products[i].images[k].originalname %>" class="card-product-image"
                                                            src="<%= shops[j].products[i].images[k].src %>" />
                                                            <% } %>
                                                        <% } else { %>
                                                            <figure class="card-product-image">
                                                                <%- include('assets/symbols/tags.svg') %>
                                                            </figure>
                                                        <% } %>
                                                    </div>
                                                    <div class="item-card-right extra-info">
                                                        <h4>Availability</h4>
                                                        <p>
                                                            <% if(typeof(shops[j].products[i].quantity) !== 'undefined' &&  shops[j].products[i].quantity > 0 ) { %>
                                                            <%= shops[j].products[i].quantity %>
                                                            <% } else if(shops[j].products[i].quantity < 0) { %>
                                                                &infin;
                                                            <% } else { %>
                                                                <%= 'Out of Stock' %>
                                                            <% } %>
                                                        </p>
                                                        <h4>Description</h4>
                                                        <p><%= shops[j].products[i].description %></p>
                                                    </div>
                                                </div>
                                            </span>
                                        </li></ul>
                                    </div>
                                    <div class="action-button-section">
                                        <form class="edit-delete-action-form" method="POST" action="/user/shop">
                                            <input type="hidden" name="id" value="upproduct">
                                            <input type="hidden" name="pid" value="<% if(typeof(shops[j].products[i]._id) !== 'undefined') { %><%= shops[j].products[i]._id %><% } %>">

                                            <input type="hidden" name="sid" value="<% if(typeof(shops[j].products[i].sid) !== 'undefined') { %><%= shops[j].products[i].sid %><% } %>">
                                            <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                                            <a href="/user/shop/product/edit?s=<%= shops[j].products[i]._id %>">
                                            <button class=" action-icon-button  action-icon" type="button" data-toggle="tooltip" data-placement="left" title="Edit" name="update" value="edit">
                                            <%- include('assets/symbols/edit.svg') %>
                                            </button></a>
                                            <% if(shops[j].products[i].status == 'inactive') { %>
                                                <button class=" action-icon-button reactivate-icon action-icon" type="submit" data-toggle="tooltip" data-placement="left"
                                                    title="Re-activate" name="update" value="reactivate">
                                                    <%- include('assets/symbols/reload.svg') %>
                                                </button>
                                                <button class=" action-icon-button delete-icon action-icon" type="submit" data-toggle="tooltip" data-placement="left"
                                                    title="Delete" name="update" value="delete">
                                                    <%- include('assets/symbols/bin.svg') %>
                                                </button>
                                            <% }  else { %>
                                                <button class=" action-icon-button close-icon action-icon" type="submit"  data-toggle="tooltip" data-placement="left" title="Withdraw" name="update" value="withdraw">
                                                    <%- include('assets/symbols/no.svg') %>
                                                </button>
                                            <% } %>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <%  } else { %>
                    <div class="no-products-card" data-value="<%= shops[j]._id %>">
                        <p>No products associated with shop.</p>
                    </div>
                <% } %>
                </div>
            <% } %>
        <%  } %>
    </section>
</div>
<script>
function toggleShopSelector(){
    let elem = document.getElementById('shop-select')
    let elemFilter = document.getElementById('product-filter-select')
    let x = document.getElementsByClassName('shop-products-card')
    let w = document.getElementsByClassName('no-products-card')
    if (elem && elem.value == 'all-products-cards') {
        for (const y of w) {
            y.setAttribute('hidden', true)
        }
        for (const z of x) {
            z.removeAttribute('hidden')
            let zac = document.getElementsByClassName(z.id + '.' + 'active')
            let zic = document.getElementsByClassName(z.id + '.' + 'inactive')
            if (elemFilter) {
                switch (elemFilter.value) {
                    case 'all-active':
                        for (const i_zac of zac) {
                            i_zac.removeAttribute('hidden')
                        }
                        for (const hi_zic of zic) {
                            hi_zic.setAttribute('hidden', true)
                        }
                        break
                    case 'all-inactive':
                        for (const i_zic of zic) {
                            i_zic.removeAttribute('hidden')
                        }
                        for (const hi_zac of zac) {
                            hi_zac.setAttribute('hidden', true)
                        }
                        break
                    default:
                        for (const ia_zac of zac) {
                            ia_zac.removeAttribute('hidden')
                        }
                        for (const ia_zic of zic) {
                            ia_zic.removeAttribute('hidden')
                        }
                        break
                }
            }
        }
    } else {
        for (const y of x) {
            y.setAttribute('hidden', true);
        }

        for (const z of w) {
            z.removeAttribute('hidden')
        }

        let z = document.getElementById(elem.value);
        if(z) {
            z.removeAttribute('hidden');

            let active_cards = document.getElementsByClassName(elem.value + '.' + 'active')
            let inactive_cards = document.getElementsByClassName(elem.value + '.' + 'inactive')

            if(elemFilter) {
                switch (elemFilter.value) {
                    case 'all-active':
                        if(active_cards) {
                            for (const c of active_cards) {
                                c.removeAttribute('hidden')
                            }
                        }
                        if(inactive_cards) {
                            for (const ic of inactive_cards) {
                                ic.setAttribute('hidden', true)
                            }
                        }
                        break
                    case 'all-inactive':
                        if (active_cards) {
                            for (const c of inactive_cards) {
                                c.removeAttribute('hidden')
                            }
                        }
                        if (inactive_cards) {
                            for (const ic of active_cards) {
                                ic.setAttribute('hidden', true)
                            }
                        }
                        break
                    default:
                        if (active_cards) {
                            for (const c of inactive_cards) {
                                c.removeAttribute('hidden')
                            }
                        }
                        if (inactive_cards) {
                            for (const ic of active_cards) {
                                ic.removeAttribute('hidden')
                            }
                        }
                        break
                }
            }
        }
    }
}
toggleShopSelector()
</script>
