<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'sf') { %>show active<% } %>" id="storefronts-pane"
    role="tabpanel" aria-labelledby="storefronts-tab">
    <h2 class="pane-h2">Storefronts</h2>
    <div class="card-filter-section space-between">
        <div class="form-group form-inline mb-3 card-filter-selector">
            <label id="storefront-select-label" class="form-label" for="storefront-select">Show: </label>
            <select id="storefront-select" class="form-control" type="text" onchange="toggleStorefrontView()" name="storefronts"
                aria-label="storefront-select-label" aria-describedby="storefront-select-basic-addon">
                <option value="open" selected>Open</option>
                <option value="closed">Closed</option>
            </select>
        </div>
        <div class="add-action-button-section">
            <a id="new-storefront-link" class="right add-storefront-link" href="#newstore"
                onclick="document.getElementById('newstore').removeAttribute('hidden');"><%- include('assets/symbols/plus.svg') %>
                Add Storefront
            </a>
        </div>
    </div>
    <section id="storefront-list-section" class="content-pane-scroll-cards-section tab-scroll-pane">
        <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0) { %>
        <% for(let i=0;i<shops.length;i++) { %>
        <div class="card <%= shops[i].status %>" <% if (shops[i].status == 'inactive'){ %>hidden<% } %>>
            <div class="card-body">
                <div class="actionable-card-pane">
                    <div class="address-view-card-pane">
                        <ul>
                            <li>
                                <span>
                                    <p class="item-card-label">
                                        <b><% if(typeof(shops[i].displayName) !== 'undefined') {%><%= shops[i].displayName %><% } else { %><%= shops[i].name %><% } %></b>
                                    </dipv>
                                    <div class=" item-card">
                                        <div class="item-card-left">
                                            <% if (typeof(shops[i].images) !== 'undefined' && Array.isArray(shops[i].images) && shops[i].images.length > 0) { %>
                                            <% for(let k=0;k<shops[i].images.length;k++) { %>
                                            <img class="storefront-image" alt="<%= shops[i].images[k].originalname %>" src="<%= shops[i].images[k].src %>" />
                                            <% } %>
                                            <% } else { %>
                                            <figure class="storefront-image">
                                                <%- include('assets/symbols/shop.svg') %>
                                            </figure>
                                            <% } %>
                                        </div>
                                        <div class="item-card-right extra-info">
                                                <% if(typeof(shops[i].status !== 'undefined')) { %>
                                                    <h4>Status</h4>
                                                    <p>
                                                        <% if(shops[i].status == 'active') { %>
                                                        Open
                                                        <% } else { %>
                                                        Closed
                                                        <% } %>
                                                    </p>
                                                <% } %>
                                                <% if(typeof(shops[i].description) !== 'undefined') { %>
                                                    <h4>Description</h4>
                                                    <p>
                                                        <%= shops[i].description %>
                                                    </p>
                                                <% } %>
                                        </div>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="action-button-section">
                        <form class="edit-delete-action-form" method="POST" action="/user/shop">
                            <input type="hidden" name="id" value="upshop">
                            <input type="hidden" name="sid" value="<% if(typeof(shops[i]._id) !== 'undefined') { %><%= shops[i]._id %><% } %>">
                            <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                            <% if (shops[i].status == 'inactive'){ %>
                                <a href="/user/shop/edit?s=<%= shops[i]._id %>">
                            <button class=" action-icon-button  action-icon" type="button" data-toggle="tooltip" data-placement="left" title="Edit" name="update" value="edit">
                            <%- include('assets/symbols/edit.svg') %>
                            </button></a>
                            <button class=" action-icon-button reactivate-icon action-icon" type="submit" data-toggle="tooltip"
                                data-placement="left" title="Re-activate" name="update" value="open">
                                <%- include('assets/symbols/reload.svg') %>
                            </button>
                            <button class=" action-icon-button delete-icon action-icon" type="submit" data-toggle="tooltip" data-placement="left"
                                title="Delete" name="update" value="delete">
                                <%- include('assets/symbols/bin.svg') %>
                            </button>
                            <%  } else { %>
                            <a href="/user/shop/edit?s=<%= shops[i]._id %>"><button class=" action-icon-button  action-icon" type="button" data-toggle="tooltip" data-placement="left" title="Edit" name="update" value="edit">
                            <%- include('assets/symbols/edit.svg') %>
                            </button></a>
                            <button class=" action-icon-button close-icon action-icon" type="submit"  data-toggle="tooltip" data-placement="left" title="Close" name="update" value="close">
                                <%- include('assets/symbols/no.svg') %>
                            </button>
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <%  } else { %>
        <p>No stores associated with account.</p>
        <% } %>
    </section>
    <section class="standard-form-section" id="newstore" <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0 ){ %>hidden<% } %> >
        <hr>
        <h3>Add a new store</h3>
        <div>
            <button class="right action-icon-button action-icon" type="submit"  data-toggle="tooltip" data-placement="left" href="#add-storefront-button-section    "
                        title="Cancel" name="update" value="cancel" onclick="closeNewStoreForm()">
                                <%- include('assets/symbols/close.svg') %>
            </button>
        </div>
        <form id="new-storefront-form" class="standard-form" autocomplete="off" action="/user/shop" method="POST"
            oninput="" enctype="multipart/form-data" novalidate>
            <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.addresses) { %> disabled="disabled"
                <% } %>>
                <input type="hidden" name="id" value="st">

                <input type="hidden" name="uid"
                    value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="add-storefront-fullname-basic-addon">Shop Name</span>
                            </div>
                            <input id="add-storefront-fullname" class="form-control <% if(typeof(fullname) !== 'undefined') { %><%= fullname.class %><% } %>" type="text" name="fullname" value="<% if(typeof(fullname) !== 'undefined' && fullname.value) { %><%= fullname.value %><% } %>"
                                aria-label="Shop Name" aria-describedby="add-storefront-fullname-basic-addon" size="55" required>
                            <div id="add-storefront-invalid-fullname" class="invalid-feedback">
                                <% if(typeof(fullname) !== 'undefined' && fullname.class == 'is-invalid') { %><%= fullname.message %><% } else { %>
                                You must provide a valid shop name.
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="add-storefront-description-basic-addon">Description</span>
                        </div>
                        <textarea class="form-control" rows="4" cols="25" name="description" form="new-storefront-form"
                            placeholder="Store Description ..." aria-label="Store Description" aria-describedby="add-storefront-description-basic-addon"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-prepend-icon" id="add-storefront-fullimage-basic-addon" data-toggle="tooltip" data-placement="bottom" data-original-title="Shop Image" title="Shop Image"><%- include('assets/symbols/picture.svg') %></span>
                            </div>
                            <input id="add-storefront-fullimage" class="form-control <% if(typeof(fullimage) !== 'undefined') { %><%= fullname.class %><% } %>" type="file" name="fullimage"
                                aria-label="Storefront Image" aria-describedby="add-storefront-fullimage-basic-addon" accept=".jpg,.jpeg,.png" multiple onchange="validateImageFiles()" onclick="clearImageValidation()">
                            <div id="add-storefront-invalid-fullimage" class="invalid-feedback">
                                <% if(typeof(fullimage) !== 'undefined' && fullimage.class == 'is-invalid') { %><%= fullimage.message %><% } else { %>
                                You must provide a valid image of type: jpg/jpeg/png.
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group mb-3">
                        <div class="form-check">
                            <input id="use-addr-checkbox" class="form-check-input <% if(typeof(setPrimary) !== 'undefined') { %><%= setPrimary.class %><% } %>" type="checkbox"
                                id="set-primary" name="setPrimary" value="true" required onchange="toggleAddressFields()" checked>
                            <label class="form-check-label" for="set-primary">
                                Use same address as user's address
                            </label>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                    <div class="form-callout mb-3">
                        <div>Or</div>
                        <p class="form-callout-legend">Provide different contact details for the shop by filling in the below.</p>
                    </div>
                    <hr>
                    <fieldset id="new-store-address-fieldset" disabled="disabled">
                        <%- include('./_address_form_fields.ejs') %>
                    </fieldset>
                    <hr>
                    <div class="form-callout mb-3">
                        <p class="form-callout-legend">Provide a contact number for the shop.</p>
                    </div>
                    <%- include('./_phoneNumber_form_fields') %>
                    <div id="storefront-add-button-container">
                        <button id="add-storefront-button" type="submit" class="btn btn-primary" onclick="">Add
                            Storefront</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</div>
<script>
function toggleStorefrontView(){
    let cardSelector = document.getElementById('storefront-select')
    let cardList = document.getElementById('storefront-list-section')
    if (cardSelector && cardSelector.value == 'closed'){
        let z = cardList.querySelectorAll(".card")
        for (const zz of z) {
            zz.setAttribute('hidden', true)
        }
        let y = cardList.querySelectorAll(".inactive")
        for (const yy of y) {
            yy.removeAttribute('hidden')
        }
    } else if (cardSelector && cardSelector.value == 'open') {
        let z = cardList.querySelectorAll(".card")
        for (const zz of z) {
            zz.setAttribute('hidden', true)
        }
        let y = cardList.querySelectorAll(".active")
        for (const yy of y) {
            yy.removeAttribute('hidden')
        }
    } else {
        console.log(cardSelector.value);
    }
}

function toggleAddressFields(){
    let useAddr = document.getElementById('use-addr-checkbox')
    let addrFieldSet = document.getElementById('new-store-address-fieldset')
    if(useAddr && useAddr.checked) {
        if(addrFieldSet) {
            addrFieldSet.setAttribute('disabled', 'disabled')
        }
    } else {
        if (addrFieldSet) {
            addrFieldSet.removeAttribute('disabled')
        }
    }
}

function closeNewStoreForm(){
    document.getElementById('newstore').setAttribute('hidden', true)
    document.getElementById('new-storefront-link').scrollIntoView(false)
}

function clearImageValidation() {
    let imgInput = document.getElementById('add-storefront-fullimage')
    if (imgInput) {
        imgInput.classList.remove('is-invalid')
    }
}

function validateImageFiles() {
    let imgInput = document.getElementById('add-storefront-fullimage')
    let imgInputInvalidElem = document.getElementById('add-storefront-invalid-fullimage')
    let imgFiles = imgInput.files
    let uploadLimit = <%= typeof (uploadLimit) === 'number' ? uploadLimit : 10 %>
        let uploadSize = <%= typeof (uploadSize) === 'number' ? uploadSize : 10485760 %>

    if (imgInput) {
        console.log('validating images...')
        if (imgFiles.length > uploadLimit) {
            imgInputInvalidElem.innerHTML = 'You cannot upload more than ' + uploadLimit.toString() + ' images.'
            imgInput.value = null
            imgInput.classList.add('is-invalid')
            return
        }

        let totalImgSize = 0

        for (let i = 0; i < imgFiles.length; i++) {
            totalImgSize += imgFiles[i].size
            console.log('Total image size: ' + totalImgSize.toString())
            if (totalImgSize > uploadSize) {
                imgInputInvalidElem.innerHTML = 'Upload size limit of ' + uploadSize.toString() + ' exceeded.'
                imgInput.value = null
                imgInput.classList.add('is-invalid')
                return
            }
        }
    }
}

toggleStorefrontView()
</script>
