<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'sf' || (pane != 'pd' || pane != 'pkg' || pane != 'or' || pane != 'in' || pane != 'pd-all' || pane != 'pd-new')) { %>show active<% } %>" id="storefronts-pane"
    role="tabpanel" aria-labelledby="storefronts-tab">
    <h2 class="pane-h2">Storefronts</h2>
    <div>
        <a class="right add-address-link" href="#new-address-form" onclick="document.getElementById('newstore').removeAttribute('hidden');"><%- include('assets/symbols/plus.svg') %> Add Storefront</a>
        <a class="left add-address-link" id="shop_choice" href="#" onclick="toggleArchiveShopSelector();">
            <%- include('assets/symbols/plus.svg') %> <span id="inactive">View Archived Storefronts</span>
        </a>  
   </div>
    <section id="address-list-section" class="content-pane-scroll-cards-section tab-scroll-pane">
        <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0) { %>
        <% for(let i=0;i<shops.length;i++) { %>
        <div class="card <%= shops[i].status %>" <% if (shops[i].status == 'inactive'){ %>hidden<% } %>>
            <div class="card-body">
                <div class="actionable-card-pane">
                    <div class="address-view-card-pane">
                        <ul>
                            <li>
                                <span>
                                    <p>
                                        <b><% if(typeof(shops[i].displayName) !== 'undefined') {%><%= shops[i].displayName %><% } else { %><%= shops[i].name %><% } %></b>
                                        <% if(typeof(shops[i].description) !== 'undefined') { %>
                                            <%= shops[i].description %>
                                        <% } %>
                                    </p>
                                    <p class="extra-info">
                                        <% if (typeof(shops[i].image) !== 'undefined' ) { %>
                                        <img class="storefront-image" alt="<%= shops[i].image.originalname %>" src="<%= shops[i].image.src %>" />
                                        <% } %>
                                        Status: <b><%= shops[i].status %></b>
                                    </p>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="action-button-section">
                        <form class="edit-delete-action-form" method="POST" action="/user/shop">
                            <input type="hidden" name="id" value="upshop">
                            <input type="hidden" name="sid" value="<% if(typeof(shops[i]._id) !== 'undefined') { %><%= shops[i]._id %><% } %>">
                            <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                            <% if (shops[i].status == 'inactive'){ %>
                            <button class=" action-icon-button  action-icon" type="submit" data-toggle="tooltip" data-placement="left" title="Activate" name="update" value="activate">
                            <%- include('assets/symbols/edit.svg') %>
                            </button>
                            <%  } else { %>
                            <button class=" action-icon-button  action-icon" type="submit" data-toggle="tooltip" data-placement="left" title="Edit" name="update" value="edit">
                            <%- include('assets/symbols/edit.svg') %>
                            </button>
                            <button class=" action-icon-button delete-icon action-icon" type="submit"  data-toggle="tooltip" data-placement="left" title="Delete" name="update" value="delete">
                                <%- include('assets/symbols/bin.svg') %>
                            </button>
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <%  } else { %>
        <p>No stores associated with account.</p>
        <% } %>
    </section>
    <hr>
    <section class="standard-form-section" id="newstore" <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0 ){ %>hidden<% } %> >
    <h3>Add a new store</h3>
    <div>
        <button class="right action-icon-button action-icon" type="submit"  data-toggle="tooltip" data-placement="left"
                     title="Cancel" name="update" value="cancel" onclick="document.getElementById('newstore').setAttribute('hidden', true);">
                            <%- include('assets/symbols/close.svg') %>
        </button>
    </div>
        <form id="new-storefront-form" class="standard-form" autocomplete="off" action="/user/shop" method="POST"
            oninput="" enctype="multipart/form-data" novalidate>
            <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.addresses) { %> disabled="disabled"
                <% } %>>
                <input type="hidden" name="id" value="st">

                <input type="hidden" name="uid"
                    value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="add-address-fullname-basic-addon">Shop Name</span>
                            </div>
                            <input id="add-storefront-fullname" class="form-control <% if(typeof(fullname) !== 'undefined') { %><%= fullname.class %><% } %>" type="text" name="fullname" value="<% if(typeof(fullname) !== 'undefined' && fullname.value) { %><%= fullname.value %><% } %>"
                                aria-label="Address" aria-describedby="fullname-basic-addon" size="55" required>
                            <div id="add-address-invalid-fullname" class="invalid-feedback">
                                <% if(typeof(fullname) !== 'undefined' && fullname.class == 'is-invalid') { %><%= fullname.message %><% } else { %>
                                You must provide a valid shop name.
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-prepend-icon" id="add-storefront-fullimage-basic-addon" data-toggle="tooltip" data-placement="bottom" data-original-title="Shop Image" title="Shop Image"><%- include('assets/symbols/picture.svg') %></span>
                            </div>
                            <input id="add-address-fullimage" class="form-control <% if(typeof(fullimage) !== 'undefined') { %><%= fullname.class %><% } %>" type="file" name="fullimage"
                                aria-label="Image" aria-describedby="fullimage-basic-addon" accept=".jpg,.jpeg,.png">
                            <div id="add-storefront-invalid-fullname" class="invalid-feedback">
                                <% if(typeof(fullimage) !== 'undefined' && fullimage.class == 'is-invalid') { %><%= fullimage.message %><% } else { %>
                                You must provide a valid image of type: jpg/jpeg/png.
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="form-check">
                            <input class="form-check-input <% if(typeof(setPrimary) !== 'undefined') { %><%= setPrimary.class %><% } %>" type="checkbox"
                                id="set-primary" name="setPrimary" value="true" required>
                            <label class="form-check-label" for="set-primary">
                                Use same address as user's address
                            </label>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="storefront-add-button-container">
                        <button id="add-storefront-button" type="submit" class="btn btn-light" onclick="">Add
                            Storefront</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</div>
<script>
function toggleArchiveShopSelector(){
    let s = document.getElementById('shop_choice').childNodes;
    var i;
    var x = document.getElementById("address-list-section");
    for (i = 0; i < s.length; i++) {
      if (s[i].nodeName == 'SPAN') {
        if (s[i].id == 'inactive'){
          var z = x.querySelectorAll(".card");
          for (zz of z) {
              zz.setAttribute('hidden', true);
          }
          var y = x.querySelectorAll(".inactive");
          for (yy of y) {
              yy.removeAttribute('hidden');
          }
          s[i].id = 'active';
          s[i].innerHTML = 'View Active Storefronts';
        } else if (s[i].id == 'active') {
          var z = x.querySelectorAll(".card");
          for (zz of z) {
              zz.setAttribute('hidden', true);
          }
          var y = x.querySelectorAll(".active");
          for (yy of y) {
              yy.removeAttribute('hidden');
          }
          s[i].id = 'inactive';
          s[i].innerHTML = 'View Archived Storefronts';
        } else {
          console.log(s[i].id);
        }
      //console.log(s[i].id);
      //console.log(s[i].innerHTML);
      }
    }
    /*
    let elem = document.getElementById('shop-select')
    if (elem && elem.value == 'all-product-cards') {
        let x = document.getElementsByClassName('shop-products-card');
        for (y of x) {
            y.removeAttribute('hidden');
        }
    } else {
        let x = document.getElementsByClassName('shop-products-card');
        let noProdsCard = document.getElementsByClassName('no-product-card');
        for (w of noProdsCard) {
            w.setAttribute('hidden', true);
        }
        for (y of x) {
            y.setAttribute('hidden', true);
        }
        let z = document.getElementById(elem.value);
        if(z) {
            z.removeAttribute('hidden');
        }
        for( c of noProdsCard) {
            for (o of elem.options) {
                if (c.value == o.value) {
                    c.removeAttribute('hidden');
                }
            }
        }
    }*/
}
//toggleArchiveShopSelector()
</script>
