<main class="container">
    <section class="main-panel">
        <div class="row">
            <div class="sidebar col-3">
                <div class="list-group flex-column" id="account-settings-tablist" role="tablist">
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'ls') { %>active<% } %>" id="security-tab" data-toggle="list" role="tab" aria-controls="security" aria-selected="false" href="#security-pane"><%- include('assets/symbols/lock.svg') %>Login & Security</a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'ci' || pane == 'ad' || pane == 'pn' || pane == 'em') { %>active<% } %>" id="contact-tab" data-toggle="list" role="tab" aria-controls="contact" aria-selected="true" href="#contact-pane"><%- include('assets/symbols/person.svg') %>Contact Details</a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'or') { %>active<% } %>" id="orders-tab" data-toggle="list" role="tab" aria-controls="orders" aria-selected="false"
                        href="#orders-pane"><%- include('assets/symbols/order sheet.svg') %>Orders</a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'pm') { %>active<% } %>" id="payments-tab" data-toggle="list" role="tab" aria-controls="payments" aria-selected="false"
                        href="#payments-pane"><%- include('assets/symbols/credit card.svg') %>Payment Methods</a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'pr') { %>active<% } %>" id="settings-tab" data-toggle="list" role="tab" aria-controls="settings" aria-selected="false" href="#settings-pane"><%- include('assets/symbols/gear.svg') %>Preferences</a>
                </div>
            </div>
            <div class="col-9">
                <div class="content-pane tab-content" id="account-settings-tab-content">
                    <% if(typeof(messages.success) !== 'undefined') { %>
                        <div id="main-alert-success" class="alert alert-success alert-dismissible fade show" role="alert">
                            <%= messages.success %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                    <% } %>
                    <% if(typeof(messages.info) !== 'undefined') { %>
                        <div id="main-alert-info" class="alert alert-primary alert-dismissible fade show" role="alert">
                            <%= messages.info %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                    <% } %>
                    <% if(typeof(messages.error) !== 'undefined') { %>
                        <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= messages.error %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                    <% } %>
                    <%- include('./_login_security.ejs') %>
                    <%- include('./_contact_info.ejs') %>
                    <%- include('./_orders.ejs') %>
                    <%- include('./_payment_methods.ejs') %>
                    <%- include('./_preferences.ejs') %>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
</script>
