<main class="container">
    <section class="main-panel">
        <div class="row">
            <div class="col-4">
                <div class="list-group flex-column" id="account-settings-tablist" role="tablist">
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'ls') { %>active<% } %>" id="security-tab" data-toggle="list" role="tab" aria-controls="security" aria-selected="false" href="#security-pane"><%- include('assets/symbols/lock.svg') %>Login & Security</a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'ci' || pane == 'ad' || pane == 'pn' || pane == 'em') { %>active<% } %>" id="contact-tab" data-toggle="list" role="tab" aria-controls="contact" aria-selected="true" href="#contact-pane"><%- include('assets/symbols/person.svg') %>Contact Details</a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'or') { %>active<% } %>" id="orders-tab" data-toggle="list" role="tab" aria-controls="orders" aria-selected="false"
                        href="#orders-pane"><%- include('assets/symbols/order sheet.svg') %>Orders</a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'pm') { %>active<% } %>" id="payments-tab" data-toggle="list" role="tab" aria-controls="payments" aria-selected="false"
                        href="#payments-pane"><%- include('assets/symbols/credit card.svg') %>Payment Methods</a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'pr') { %>active<% } %>" id="settings-tab" data-toggle="list" role="tab" aria-controls="settings" aria-selected="false" href="#settings-pane"><%- include('assets/symbols/gear.svg') %>Preferences</a>
                </div>
            </div>
            <div class="col-8">
                <div class="content-pane tab-content" id="account-settings-tab-content">
                    <% if(typeof(messages.success) !== 'undefined') { %>
                        <div id="main-alert-success" class="alert alert-success alert-dismissible fade show" role="alert">
                            <%= messages.success %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                    <% } %>
                    <% if(typeof(messages.info) !== 'undefined') { %>
                        <div id="main-alert-info" class="alert alert-primary alert-dismissible fade show" role="alert">
                            <%= messages.info %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                    <% } %>
                    <% if(typeof(messages.error) !== 'undefined') { %>
                        <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= messages.error %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                    <% } %>
                    <div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'ls') { %>show active<% } %>" id="security-pane" role="tabpanel" aria-labelledby="security-tab">
                        <h2 class="pane-h2">Login & Security</h2>
                        <section class="standard-form-section">
                            <form id="security-form" class="standard-form" autocomplete="off" action="/user/account" method="POST" oninput="" novalidate>
                                <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.security) { %> disabled="disabled" <% } %>>
                                    <input type="hidden" name="id" value="ls">

                                    <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                                    <div class="verfification-status mb-3">
                                        <label>Verification Status</label>
                                        <% if(typeof(verifiedUser) !== 'undefined' && verifiedUser) { %>
                                        <span class="badge badge-success">verified</span>
                                        <% } else { %>
                                        <span><a href="/verify" class="badge badge-danger">unverified</a></span>
                                        <% } %>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="username-basic-addon">Username</span>
                                            </div>
                                            <input id="username" class="form-control <% if(typeof(username) !== 'undefined') { %><%= username.class %><% } %>"
                                                type="text" name="username" placeholder="Email Address"
                                                value="<% if(typeof(user.emails["0"].value) !== 'undefined') { %><%= user.emails["0"].value %><% } %>"
                                                aria-label="email" aria-describedby="username-basic-addon" size="25" readonly>
                                            <div id="invalid-username" class="invalid-feedback">
                                                <% if(typeof(username) !== 'undefined' && username.class == 'is-invalid') { %><%= username.message %><% } else { %>Please
                                                enter a valid email address. <% } %>
                                            </div>
                                        </div>
                                        <small id="validationUsername" class="form-text text-muted  validation-msg hidden"></small>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="passowrd-basic-addon">Current Password</span>
                                            </div>
                                            <input id="password" class="form-control <% if(typeof(password) !== 'undefined') { %><%= password.class %><% } %>"
                                                type="password" name="password" value="" aria-label="Password" aria-describedby="password-basic-addon" size="25"
                                                required>
                                            <div id="invalid-password" class="invalid-feedback">
                                                <% if(typeof(password) !== 'undefined' && password.class == 'is-invalid') { %><%= password.message %><% } else { %>Please
                                                enter a password. <% } %>
                                            </div>
                                        </div>
                                        <small id="passwordHint" class="form-text text-muted hidden"></small>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="nw_pwd-basic-addon">New Password</span>
                                            </div>
                                            <input id="nw_pwd" class="form-control <% if(typeof(nw_pwd) !== 'undefined') { %><%= nw_pwd.class %><% } %>"
                                                type="password" name="nw_pwd" value="" aria-label="Password" aria-describedby="nw_pwd-basic-addon" size="25"
                                                required>
                                            <div id="invalid-nw_pwd" class="invalid-feedback">
                                                <% if(typeof(nw_pwd) !== 'undefined' && nw_pwd.class == 'is-invalid') { %><%= nw_pwd.message %><% } else { %>Invalid or mismatched. <% } %>
                                            </div>
                                        </div>
                                        <small id="nw_pwd-hint" class="form-text text-muted hidden"></small>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="new_pwd-basic-addon">Confirm Password</span>
                                            </div>
                                            <input id="new_pwd-confirm" class="form-control <% if(typeof(nw_pwd_confirm) !== 'undefined') { %><%= nw_pwd_confirm.class %><% } %>"
                                                type="password" name="nw_pwd_confirm" value="" aria-label="nw_pwd_confirm" aria-describedby="nw_pwd_confirm-basic-addon" size="25"
                                                required>
                                            <div id="invalid-nw_pwd_confirm" class="invalid-feedback">
                                                <% if(typeof(nw_pwd_confirm) !== 'undefined' && nw_pwd_confirm.class == 'is-invalid') { %><%= nw_pwd_confirm.message %><% } else { %>Invalid or mismatched. <% } %>
                                            </div>
                                        </div>
                                        <small id="nw_pwd_confirm-Hint" class="form-text text-muted hidden"></small>
                                        <hr>
                                        <div id="security-update-button-container">
                                            <button id="update-security-button" type="submit" class="btn btn-light" onclick="">Update</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                    <div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && (pane == 'ci' || pane =='ad' || pane == 'em' || pane == 'pn')) { %>show active<% } %>" id="contact-pane" role="tabpanel" aria-labelledby="contact-tab">
                        <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" id="contactTabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link <% if(typeof(pane) !== 'undefined' && pane == 'ci') { %>active<% } %>" id="primary-tab" data-toggle="tab" href="#primaryTab" role="tab" aria-controls="home"
                                    aria-selected="true"><%- include('assets/symbols/contact.svg') %>Basic Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link <% if(typeof(pane) !== 'undefined' && pane == 'ad') { %>active<% } %>" id="addresses-tab" data-toggle="tab" href="#addressesTab" role="tab" aria-controls="contact"
                                    aria-selected="false"><%- include('assets/symbols/location.svg') %>Addresses</a>
                            </li>
                            <li class="nav-item <% if(typeof(pane) !== 'undefined' && pane == 'em') { %>active<% } %>">
                                <a class="nav-link" id="emails-tab" data-toggle="tab" href="#emailsTab" role="tab" aria-controls="profile"
                                    aria-selected="false"><%- include('assets/symbols/mail.svg') %>Emails</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link <% if(typeof(pane) !== 'undefined' && pane == 'pn') { %>active<% } %>" id="phone-tab" data-toggle="tab" href="#phoneTab" role="tab" aria-controls="contact"
                                    aria-selected="false"><%- include('assets/symbols/phone.svg') %>Phone Numbers</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="contactTabContent">
                            <div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'ci') { %>show active<% } %>" id="primaryTab" role="tabpanel" aria-labelledby="primary-tab">
                                <h2 class="tab-pane-h2">Primary Contact Information</h2>
                                <section class="standard-form-section">
                                    <form id="contact-form" class="standard-form" autocomplete="off" action="/user/account" method="POST" oninput=""
                                        novalidate>
                                        <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.contact) { %> disabled="disabled"
                                            <% } %>>
                                            <input type="hidden" name="id" value="ci">
                                            <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="givenName-basic-addon">Given Name</span>
                                                    </div>
                                                    <input id="givenName"
                                                        class="form-control <% if(typeof(givenName) !== 'undefined') { %><%= givenName.class %><% } %>"
                                                        type="text" name="givenName"
                                                        value="<% if(typeof(user.name.givenName) !== 'undefined') { %><%= user.name.givenName %><% } %>"
                                                        aria-label="Given Name" aria-describedby="givenName-basic-addon" size="25" required>
                                                    <div id="invalid-givenName" class="invalid-feedback">
                                                        <% if(typeof(givenName) !== 'undefined' && givenName.class == 'is-invalid') { %><%= givenName.message %><% } else { %>You
                                                        must provide your Given Name.<% } %>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="familyName-basic-addon">Family Name</span>
                                                    </div>
                                                    <input id="familyName"
                                                        class="form-control <% if(typeof(familyName) !== 'undefined') { %><%= familyName.class %><% } %>"
                                                        type="text" name="familyName"
                                                        value="<% if(typeof(user.name.familyName) !== 'undefined') { %><%= user.name.familyName %><% } %>"
                                                        aria-label="Family Name" aria-describedby="familyName-basic-addon" size="25" required>
                                                    <div id="invalid-familyName" class="invalid-feedback">
                                                        <% if(typeof(familyName) !== 'undefined' && familyName.class == 'is-invalid') { %><%= familyName.message %><% } else { %>You
                                                        must provide your Family Name.<% } %>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="input-group mb-3">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="phone-basic-addon">Phone</span>
                                                        </div>
                                                        <input id="phone"
                                                            class="form-control <% if(typeof(phone) !== 'undefined') { %><%= phone.class %><% } %>"
                                                            type="text" name="phone"
                                                            value="<% if(typeof(phone) !== 'undefined' && phone.value) { %><%= phone.value %><% } %>"
                                                            aria-label="phone" aria-describedby="phone-basic-addon" size="25" required>
                                                        <div class="form-group form-inline">
                                                            <label id="phoneTypeLabel" class="form-label" for="phoneType">Type</label>
                                                            <select id="phoneType"
                                                                class="form-control <% if(typeof(phoneType) !== 'undefined') { %><%= phoneType.class %><% } %>"
                                                                type="text" name="phoneType" value="" aria-label="phoneType"
                                                                aria-describedby="phoneType-basic-addon">
                                                                <option>home</option>
                                                                <option>work</option>
                                                                <option selected="selected">mobile</option>
                                                                <option>other</option>
                                                            </select>
                                                        </div>
                                                        <div id="invalid-phone" class="invalid-feedback">
                                                            <% if(typeof(phone) !== 'undefined' && phone.class == 'is-invalid') { %><%= phone.message %><% } else { %>
                                                            You must a valid phone number.
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <p>Primary Address</p>
                                                <hr>
                                                <div class="form-group form-inline mb-3">
                                                    <label id="addressTypeLabel" class="form-label" for="adddressType">Type</label>
                                                    <select id="addressType"
                                                        class="form-control <% if(typeof(addressType) !== 'undefined') { %><%= addressType.class %><% } %>"
                                                        type="text" name="addressType" value="" aria-label="addressType"
                                                        aria-describedby="addressType-basic-addon">
                                                        <option selected="selected">home</option>
                                                        <option>work</option>
                                                        <option>other</option>
                                                    </select>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="streetaddress-basic-addon">Street & No.</span>
                                                        </div>
                                                        <input id="addressStreet"
                                                            class="form-control <% if(typeof(addressStreet) !== 'undefined') { %><%= addressStreet.class %><% } %>"
                                                            type="text" name="addressStreet"
                                                            value="<% if(typeof(addressStreet) !== 'undefined' && addressStreet.value) { %><%= addressStreet.value %><% } %>"
                                                            aria-label="Address" aria-describedby="streetaddress-basic-addon" size="25" required>
                                                        <div id="invalid-street" class="invalid-feedback">
                                                            <% if(typeof(addressStreet) !== 'undefined' && addressStreet.class == 'is-invalid') { %><%= addressStreet.message %><% } else { %>
                                                            You must provide an address.
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="addressLocality-basic-addon">Community / Town /
                                                                City</span>
                                                        </div>
                                                        <input id="addressLocality"
                                                            class="form-control <% if(typeof(addressLocality) !== 'undefined') { %><%= addressLocality.class %><% } %>"
                                                            type="text" name="addressLocality"
                                                            value="<% if(typeof(addressLocality) !== 'undefined' && addressLocality.value) { %><%= addressLocality.value %><% } %>"
                                                            aria-label="Address" aria-describedby="addressLocality-basic-addon" size="25" required>
                                                        <div id="invalid-street" class="invalid-feedback">
                                                            <% if(typeof(addressLocality) !== 'undefined' && addressLocality.class == 'is-invalid') { %><%= addressLocality.message %><% } else { %>
                                                            You must provide an address location.
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="form-group form-inline">
                                                        <label id="parishLabel" class="form-label" for="addressRegion">Parish</label>
                                                        <select id="addressRegion"
                                                            class="form-control <% if(typeof(addressRegion) !== 'undefined') { %><%= addressRegion.class %><% } %>"
                                                            type="text" name="addressRegion" value="" aria-label="addressRegion"
                                                            aria-describedby="addressRegion-basic-addon">
                                                            <option selected="selected">Kingston & St. Andrew</option>
                                                            <option>St. Catherine</option>
                                                            <option>Clarendon</option>
                                                            <option>Manchester</option>
                                                            <option>St. Elizabeth</option>
                                                            <option>Westmoreland</option>
                                                            <option>Hanover</option>
                                                            <option>St. James</option>
                                                            <option>Trelawny</option>
                                                            <option>St. Ann</option>
                                                            <option>St. Mary</option>
                                                            <option>Portland</option>
                                                            <option>St. Thomas</option>
                                                        </select>
                                                        <div id="invalid-region" class="invalid-feedback">
                                                            <% if(typeof(addressRegion) !== 'undefined' && addressRegion.class == 'is-invalid') { %><%= addressRegion.message %><% } else { %>
                                                            You must select a region.
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="form-group form-inline">
                                                        <label id="postLabel" class="form-label" for="addressPostcode">Postcode</label>
                                                        <input id="addressPostcode"
                                                            class="form-control <% if(typeof(addressPostcode) !== 'undefined') { %><%= addressPostcode.class %><% } %>"
                                                            type="text" name="addressPostcode"
                                                            value="<% if(typeof(addressPostcode) !== 'undefined' && addressPostcode.value) { %><%= addressPostcode.value %><% } %>"
                                                            aria-label="Postcode" aria-describedby="addressPostcode-basic-addon" size="5" required>
                                                        <div id="invalid-postcode" class="invalid-feedback">
                                                            <% if(typeof(addressPostcode) !== 'undefined' && addressPostcode.class == 'is-invalid') { %><%= addressPostcode.message %><% } else { %>
                                                            Please enter a valid postal code.
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="form-group form-inline">
                                                        <div class="form-group form-inline">
                                                            <label id="addressCountryLabel" class="form-label" for="addressCountry">Country</label>
                                                            <select id="addressCountry"
                                                                class="form-control <% if(typeof(addressCountry) !== 'undefined') { %><%= addressCountry.class %><% } %>"
                                                                type="text" name="addressCountry" value="" aria-label="addressCountry"
                                                                aria-describedby="addressCountry-basic-addon" readonly>
                                                                <option selected="selected">Jamaica</option>
                                                            </select>
                                                            <div id="invalid-country" class="invalid-feedback">
                                                                <% if(typeof(addressCountry) !== 'undefined' && addressCountry.class == 'is-invalid') { %><%= addressCountry.message %><% } else { %>
                                                                You must select a country.
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div id="update-contact-button-container">
                                                    <button id="update-contact-button" type="submit" class="btn btn-light" onclick="">Update</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </section>
                            </div>
                            <div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'ad') { %>show active<% } %>" id="addressesTab" role="tabpanel" aria-labelledby="addresses-tab">
                                <h2 class="tab-pane-h2">Addresses</h2>
                                <section id="address-list-section" class="content-pane-scroll-cards-section tab-scroll-pane">
                                    <% if (typeof(addresses) !== 'undefined' && Array.isArray(addresses)) { %>
                                    <% for(let i=0;i<addresses.length;i++) { %>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="actionable-card-pane">
                                                <div>
                                                    <ul>
                                                    <li><p><b><%= addresses[i].streetAddress %></b><br>
                                                            <%= addresses[i].locality %>,<br><%= addresses[i].region %> <%= addresses[i].postalCode %><br><%= addresses[i].country %><br>
                                                            <% if(typeof(addresses[i].type) !== 'undefined') { %>Type:
                                                            <em><%=  addresses[i].type %></em><br><% } %>
                                                            <% if(typeof(addresses[i].name) !== 'undefined' && addresses[i].name.formatted) { %>Contact: <em><%=  addresses[i].name.formatted %></em><br><% } %>
                                                            <% if(typeof(addresses[i].phoneNumbers) !== 'undefined' && Array.isArray(addresses[i].phoneNumbers)) { for(let j=0;j<addresses[i].phoneNumbers.length;j++) {%>
                                                                Phone number: <em><%= addresses[i].phoneNumbers[j].value %></em><br> Phone Type: 
                                                                <em><%= addresses[i].phoneNumbers[j].type %></em><br>
                                                            <% }} %>
                                                        </p>
                                                        </li>
                                                        <% if(addresses[i].verified) {%>
                                                        <li class=" badge tick-icon">
                                                            <p>Verified:
                                                                <%- include('assets/symbols/tick.svg') %></p>
                                                        </li>
                                                        <% } %>
                                                        <% if(addresses[i].primary) { %>
                                                        <li class="badge tick-icon">
                                                            <p>Primary:
                                                                <%- include('assets/symbols/tick.svg') %></p>
                                                        </li>
                                                        <% } %>
                                                    </ul>
                                                </div>
                                                <div>
                                                    <form>
                                                        <button class=" action-icon-button  action-icon" type="button">
                                                        <%- include('assets/symbols/edit.svg') %>
                                                        </button>
                                                        <button class=" action-icon-button delete-icon action-icon" type="button">
                                                            <%- include('assets/symbols/bin.svg') %>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                    <%  } else { %>
                                    <p>No addresses associated with account.</p>
                                    <% } %>
                                </section>
                                <hr>
                                <section class="standard-form-section">
                                    <h3>Add a new address</h3>
                                    <form id="addresses-form" class="standard-form" autocomplete="off" action="/user/account" method="POST"
                                        oninput="" novalidate>
                                        <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.addresses) { %> disabled="disabled"
                                            <% } %>>
                                            <input type="hidden" name="id" value="na">
                            
                                            <input type="hidden" name="uid"
                                                value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="add-address-fullname-basic-addon">Full name</span>
                                                        </div>
                                                        <input id="add-address-fullname" class="form-control" type="text" name="fullname" value=""
                                                            aria-label="Address" aria-describedby="fullname-basic-addon" size="25" required>
                                                        <div id="add-address-invalid-fullname" class="invalid-feedback">
                                                            You must a valid name.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="add-address-phone-basic-addon">Phone</span>
                                                            
                                                        </div>
                                                        <input id="add-address-phone" class="form-control" type="text" name="phone" value=""
                                                            aria-label="Address" aria-describedby="phone-basic-addon" size="25" required>
                                                        <div id="add-address-invalid-phone" class="invalid-feedback">
                                                            You must a valid phone number.
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-inline">
                                                        <label id="newAddressPhoneTypeLabel" class="form-label" for="newAddressPhoneType">Type</label>
                                                        <select id="newAddressPhoneType"
                                                            class="form-control <% if(typeof(phoneType) !== 'undefined') { %><%= phoneType.class %><% } %>" type="text"
                                                            name="phoneType" value="" aria-label="phoneType" aria-describedby="phoneType-basic-addon">
                                                            <option>home</option>
                                                            <option>work</option>
                                                            <option selected="selected">mobile</option>
                                                            <option>other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-group form-inline mb-3">
                                                    <label id="newAddressTypeLabel" class="form-label" for="newAdddressType">Type of Address</label>
                                                    <select id="newAddressType"
                                                        class="form-control <% if(typeof(addressType) !== 'undefined') { %><%= addressType.class %><% } %>" type="text"
                                                        name="addressType" value="" aria-label="addressType" aria-describedby="addressType-basic-addon">
                                                        <option selected="selected">home</option>
                                                        <option>work</option>
                                                        <option>other</option>
                                                    </select>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="add-address-streetaddress-basic-addon">Street &
                                                                No.</span>
                                                        </div>
                                                        <input id="add-address-addressStreet" class="form-control" type="text" name="addressStreet"
                                                            value="" aria-label="Address" aria-describedby="streetaddress-basic-addon" size="25"
                                                            required>
                                                        <div id="iadd-address-nvalid-street" class="invalid-feedback">
                                                            You must provide an address.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="add-address-addressLocality-basic-addon">Community /
                                                                Town / City</span>
                                                        </div>
                                                        <input id="add-address-addressLocality" class="form-control" type="text"
                                                            name="addressLocality" value="" aria-label="Address"
                                                            aria-describedby="addressLocality-basic-addon" size="25" required>
                                                        <div id="add-address-invalid-street" class="invalid-feedback">
                                                            You must provide an address location.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="form-group form-inline">
                                                        <label id="add-address-parishLabel" class="form-label" for="addressRegion">Parish</label>
                                                        <select id="add-address-addressRegion" class="form-control" type="text" name="addressRegion"
                                                            value="" aria-label="addressRegion" aria-describedby="addressRegion-basic-addon">
                                                            <option selected="selected">Kingston & St. Andrew</option>
                                                            <option>St. Catherine</option>
                                                            <option>Clarendon</option>
                                                            <option>Manchester</option>
                                                            <option>St. Elizabeth</option>
                                                            <option>Westmoreland</option>
                                                            <option>Hanover</option>
                                                            <option>St. James</option>
                                                            <option>Trelawny</option>
                                                            <option>St. Ann</option>
                                                            <option>St. Mary</option>
                                                            <option>Portland</option>
                                                            <option>St. Thomas</option>
                                                        </select>
                                                        <div id="add-address-invalid-region" class="invalid-feedback">
                                                            You must select a region.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="form-group form-inline">
                                                        <label id="add-address-postLabel" class="form-label" for="addressPostcode">Postcode</label>
                                                        <input id="add-address-addressPostcode" class="form-control" type="text"
                                                            name="addressPostcode" value="" aria-label="Postcode"
                                                            aria-describedby="addressPostcode-basic-addon" size="5" required>
                                                        <div id="add-address-invalid-postcode" class="invalid-feedback">
                                                            Please enter a valid postal code.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="form-group form-inline">
                                                        <div class="form-group form-inline">
                                                            <label id="add-address-addressCountryLabel" class="form-label"
                                                                for="addressCountry">Country</label>
                                                            <select id="add-address-addressCountry" class="form-control" type="text"
                                                                name="addressCountry" value="" aria-label="addressCountry"
                                                                aria-describedby="addressCountry-basic-addon" readonly>
                                                                <option selected="selected">Jamaica</option>
                                                            </select>
                                                            <div id="add-address-invalid-country" class="invalid-feedback">
                                                                You must select a country.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input <% if(typeof(setPrimary) !== 'undefined') { %><%= setPrimary.class %><% } %>" type="checkbox"
                                                            id="set-primary" name="setPrimary" value="true" required>
                                                        <label class="form-check-label" for="set-primary">
                                                            Make Primary
                                                        </label>
                                                        <div class="invalid-feedback">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div id="addresses-add-button-container">
                                                    <button id="add-addresses-button" type="submit" class="btn btn-light" onclick="">Add
                                                        Address</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </section>
                            </div>
                            <div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'em') { %>show active<% } %>" id="emailsTab" role="tabpanel" aria-labelledby="emails-tab">
                                <h2 class="tab-pane-h2">Emails</h2>
                                <section id="emails-list" class="content-pane-scroll-cards-section tab-scroll-pane">
                                    <% if (typeof(emails) !== 'undefined' && Array.isArray(emails)) { %>
                                        <% for(let i=0;i<emails.length;i++) { %>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="actionable-card-pane">
                                                        <div>
                                                            <ul>
                                                                <li><%= emails[i].value %></li>
                                                                <% if(emails[i].verified) {%>
                                                                <li class="tick-icon badge "><p>Verified:
                                                                <%- include('assets/symbols/tick.svg') %></p>
                                                                </li>
                                                                <% } %>
                                                                <% if(emails[i].primary) { %>
                                                                <li class="tick-icon badge"><p>Primary:
                                                                <%- include('assets/symbols/tick.svg') %></p></li>
                                                                <% } %>
                                                            </ul>
                                                        </div>
                                                        <div>
                                                            <form>
                                                                <button class=" action-icon-button delete-icon action-icon" type="button">
                                                                    <%- include('assets/symbols/bin.svg') %>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <%  } else { %>
                                        <p>No email addresses associated with account.</p>
                                    <% } %>
                                    <hr>
                                </section>
                                <section class="standard-form-section">
                                    <form id="email-form" class="standard-form" autocomplete="off" action="/user/account" method="POST"
                                        oninput="" novalidate>
                                        <div class="form-group form-inline">
                                            <div class="input-group mb-3">
                                                <input type="hidden" name="id" value="em">
                                                <label>Add email address</label>
                                                <input class="form-control space-right-05" type="" name="nw-em" value="">
                                                <button id="add-email-button" type="submit" class="btn btn-light" onclick="">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                            <div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'pn') { %>show active<% } %>" id="phoneTab" role="tabpanel" aria-labelledby="phone-tab">
                                <h2 class="tab-pane-h2">Phone Numbers</h2>
                                <section id="phone-number-list" class="content-pane-scroll-cards-section tab-scroll-pane">
                                    <% if (typeof(phoneNumbers) !== 'undefined' && Array.isArray(phoneNumbers)) { %>
                                        <% for(let i=0;i<phoneNumbers.length;i++) { %>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="actionable-card-pane">
                                                        <div>
                                                            <ul>
                                                                <li><%= phoneNumbers[i].value %></li>
                                                                <% if(phoneNumbers[i].verified) {%>
                                                                <li class="tick-icon badge "><p>Verified:
                                                                <%- include('assets/symbols/tick.svg') %></p>
                                                                </li>
                                                                <% } %>
                                                                <% if(phoneNumbers[i].primary) { %>
                                                                <li class="tick-icon badge"><p>Primary:
                                                                <%- include('assets/symbols/tick.svg') %></p></li>
                                                                <% } %>
                                                            </ul>
                                                        </div>
                                                        <div>
                                                            <form>
                                                                <button class=" action-icon-button delete-icon action-icon" type="button">
                                                                    <%- include('assets/symbols/bin.svg') %>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <%  } else { %>
                                        <p>No phone numbers associated with account.</p>
                                    <% } %>
                                    <hr>
                                </section>
                                <section class="standard-form-section"><form id="email-form" class="standard-form" autocomplete="off" action="/user/account" method="POST" oninput=""
                                    novalidate>
                                    <div class="form-group form-inline">
                                        <div class="input-group mb-3">
                                            <input type="hidden" name="id" value="em">
                                            <label>Add phone number</label>
                                            <input class="form-control space-right-05" type="" name="nw-em" value="">
                                            <button id="add-phone-button" type="submit" class="btn btn-light" onclick="">Add</button>
                                        </div>
                                    </div>
                                </form>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'or') { %>show active<% } %>" id="orders-pane" role="tabpanel" aria-labelledby="orders-tab">
                        <h2 class="pane-h2">Orders</h2>
                        <section class="standard-form-section">
                            <form id="orders-form" class="standard-form" autocomplete="off" action="/user/account" method="POST" oninput=""
                                novalidate>
                                <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.orders) { %> disabled="disabled" <% } %>>
                                    <input type="hidden" name="id" value="or">
                            
                                    <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                                </fieldset>
                            </form>
                        </section>
                    </div>
                    <div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'pm') { %>show active<% } %>" id="payments-pane" role="tabpanel" aria-labelledby="payments-tab">
                        <h2 class="pane-h2">Payment Methods</h2>
                        <section class="standard-form-section">
                            <form id="payments-form" class="standard-form" autocomplete="off" action="/user/account" method="POST" oninput=""
                                novalidate>
                                <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.payments) { %> disabled="disabled" <% } %>>
                                    <input type="hidden" name="id" value="pm">

                                    <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                                    <div class="form-group">
                                        <hr>
                                        <div id="payment-add-button-container">
                                            <button id="payment-add-button" type="submit" class="btn btn-light" onclick="">Add Payment Method</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                    <div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'pr') { %>show active<% } %>" id="settings-pane" role="tabpanel" aria-labelledby="settings-tab">
                        <h2 class="pane-h2">Preferences</h2>
                        <section class="standard-form-section">
                            <form id="settings-form" class="standard-form" autocomplete="off" action="/user/account" method="POST" oninput=""
                                novalidate>
                                <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.settings) { %> disabled="disabled"<% } %> >
                                    <input type="hidden" name="id" value="del">
                                    <input type="hidden" 
                                        name="uid" 
                                        value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>"
                                    >
                                    <div class="form-group">
                                        <hr>
                                        <h3>Remove Account</h3>
                                        <p>Account removal will purge all user data and is an irreversible process.</p>
                                        <div id="delete-account-button-container">
                                            <button id="delete-account-button" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-account-modal">Delete Account</button>
                                        </div>
                                        
                                        <!-- Delete Account Modal -->
                                        <div class="modal fade" id="delete-account-modal" tabindex="-1" role="dialog" aria-labelledby="delete-account-modal-title"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="delete-account-modal-long-title">Are you sure?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                    <p class="red-alert"> All data will be permanently erased. This cannot be reversed.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-danger">Delete Account</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
            <div>
        </div>
    </section>
</main>
