<main class="container shopping-bag-container">
    <section class="main-panel">
        <div class="col-12 main-content shopping-bag-content">
            <div class="content-pane shopping-bag-content-pane">
                <% if(typeof(messages.success) !== 'undefined') { %>
                <div id="main-alert-success" class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= messages.success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <% if(typeof(messages.info) !== 'undefined') { %>
                <div id="main-alert-info" class="alert alert-primary alert-dismissible fade show" role="alert">
                    <%= messages.info %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <% if(typeof(messages.error) !== 'undefined') { %>
                <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= messages.error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <div>
                    <span class="edit-heading-span">
                    <h2>Checkout</h2>
                    <a href="<% if(typeof(ref) == 'string' && ref.length > 0) { %><%= ref %><% } else { %>/user/bag<% } %>">
                            <button class="btn btn-primary">Back to Shopping Bag</button>
                        </a>
                    </span>
                    <hr>
                </div>
                <div class="shopping-bag-header">
                    <h2>
                        <% if(typeof(bag) !== 'undefined') { %>
                        <b>Items <% if(typeof(bag) !== 'undefined' && typeof(bag.quantity) === 'function') { %>(<%= bag.quantity() %>)<% } %><% } %>
                    </h2>
                </div>
                <% if(typeof(bag) !== 'undefined') { %>
                    <div class="shopping-bag-itemslist">
                        <% for (const product of Object.keys(bag.items)) { %>
                            <% if (typeof(bag.items[product]) !== 'undefined' && bag.items[product]) { %>
                            <div>
                                <span>
                                    <div class="item-card checkout-item-card" data-product-id="<%= product %>">
                                        <div class="shopping-bag-item-card-divider">
                                            <span class="checkout-item-row extra-info">
                                                <h6 class="checkout-item-name spc-top-1"><%= bag.items[product].displayName %></h6>
                                                <h6 class="qty-spc-top-1"><%= bag.items[product].qty + ' x ' %></h6>
                                                <h6 class="spc-top-1"><%= formatter.roundNumber(Number(bag.items[product].price), 2) + ' ' + bag.items[product].currency %></h6>
                                            </span>
                                        </div>
                                    </span>
                                </div>
                            <% } %>
                            </div>
                        <% } %>
                    </div>
                    <div class="shopping-bag-header checkout-summary-header">
                        <h2>
                            <% if(typeof(bag) !== 'undefined') { %>
                            <b>Total Charge (<% if(typeof(bag.currency) !== 'undefined' && bag.currency && typeof(bag.currency.code) !== 'undefined') { %><%= new Intl.NumberFormat('en-IN',{style: 'currency', currency: bag.currency.code}).format(formatter.roundNumber(Number(bag.total()),2)) %><% } %>).</b>
                            <p class="shopping-bag-legend">Summary includes additional charges related to taxes, shipping and other fees.</p>
                            <% } %>
                        </h2>
                    </div>
                    <div class="shopping-bag-footer">
                        <form method="POST" action="/checkout<% if(typeof(csrfToken) !== 'undefined') { %>?_csrf=<%=csrfToken%><% } %>">
                        <fieldset <% if(typeof(bag) !== 'undefined' && typeof(bag.quantity) === 'function' && bag.quantity() <= 0) { %>disabled="disabled"<% } %>>
                                <input type="hidden" name="uid" value="<% if(typeof(user) !== 'undefined') { %><%= user.id %><% } %>">
                                <button class="btn btn-primary" type="submit">Place Order</button>
                            </fieldset>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
</main>