<main class="container">
    <section class="main-panel">
        <div class="row">
            <div class="col-12 main-content">
                <div class="content-pane" id="edit-catalog-content">
                    <% if(typeof(messages.success) !== 'undefined') { %>
                    <div id="main-alert-success" class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= messages.success %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <% } %>
                    <% if(typeof(messages.info) !== 'undefined') { %>
                    <div id="main-alert-info" class="alert alert-primary alert-dismissible fade show" role="alert">
                        <%= messages.info %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <% } %>
                    <% if(typeof(messages.error) !== 'undefined') { %>
                    <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= messages.error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <% } %>
                    <div>
                        <span class="edit-heading-span">
                            <h2>Edit Catalog</h2>
                            <a href="/user/shop?show=cl">
                                <button class="btn btn-primary">Back to catalogs</button>
                            </a>
                        </span>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <figure class="featured-image">
                                <% if(typeof(image) !== 'undefined' && image.value) { %>
                                <img src="<% if(image.value.src) { %><%= image.value.src %><% } %>">
                                <% } else { %>
                                    <%- include('assets/symbols/library.svg') %>
                                <% } %>
                                </figure>
                                <p class="featured-image-legend">Catalog Image</p>
                        </div>
                        <div class="col-9">
                            <form id="edit-catalog-form" class="standard-form standard-edit-form" autocomplete="off" action="/user/shop/catalog/edit" method="POST" oninput=""
                                enctype="multipart/form-data" novalidate>
                                <fieldset <% if(typeof(show) !== 'undefined' && show == 'disabled') { %> disabled="disabled"
                                    <% } %>>
                                    <input type="hidden" name="id" value="<% if(typeof(id) !== 'undefined') { %><%= id %><% } %>">
                                    <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="edit-catalog-name-basic-addon">Catalog Name</span>
                                                </div>
                                                <input id="edit-catalog-name"
                                                    class="form-control <% if(typeof(name) !== 'undefined' && typeof(name.class) !== 'undefined') { %><%= name.class %><% } %>"
                                                    type="text" name="name"
                                                    value="<% if(typeof(name) !== 'undefined' && typeof(name.value) !== 'undefined') { %><%= name.value %><% } %>"
                                                    aria-label="Catalog Name" aria-describedby="edit-catalog-name-basic-addon" size="55" required>
                                                <div id="add-catalog-invalid-fullname" class="invalid-feedback">
                                                    <% if(typeof(name) !== 'undefined' && name.class == 'is-invalid') { %><%= name.message %><% } else { %>
                                                    You must provide a valid catalog name.
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="edit-storefront-description-basic-addon">Description</span>
                                            </div>
                                            <textarea id="edit-catalog-description" class="form-control <% if(typeof(description) !== 'undefined' && typeof(description.class) !== 'undefined') { %><%= description.class %><% } %>" rows="4" cols="25" name="description" form="edit-catalog-form"
                                                    placeholder="Catalog Description ..." aria-label="Catalog Description"
                                                aria-describedby="edit-catalog-description-basic-addon"><% if(typeof(description) !== 'undefined' && typeof(description.value) !== 'undefined') { %><%= description.value %><% } %></textarea>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text input-prepend-icon" id="edit-storefront-fullimage-basic-addon"
                                                        data-toggle="tooltip" data-placement="bottom" data-original-title="Catalog Image"
                                                        title="Catalog Image"><%- include('assets/symbols/picture.svg') %></span>
                                                </div>
                                                <input id="edit-catalog-fullimage"
                                                    class="form-control <% if(typeof(image) !== 'undefined' && image && typeof(image.class) !== 'undefined') { %><%= image.class %><% } %>"
                                                    type="file" name="fullimage" aria-label="Catalog Image"
                                                    aria-describedby="edit-catalog-fullimage-basic-addon" accept=".jpg,.jpeg,.png" multiple
                                                    onchange="catalogValidateImageFiles()" onclick="catalogClearImageValidation()">
                                                <div id="edit-catalog-invalid-fullimage" class="invalid-feedback">
                                                    <% if(typeof(image) !== 'undefined' && image && typeof(image.class) !== 'undefined' && image.class == 'is-invalid') { %><%= image.message %><% } else { %>
                                                    You must provide a valid image of type: jpg/jpeg/png.
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div id="catalog-save-button-container">
                                                <button id="save-catalog-button" type="submit" class="btn btn-primary" onclick="">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <form class="standard-form standard-edit-form" action="/user/shop" method="POST">
                                <input type="hidden" name="id" value="cl-del">
                                
                                <input type="hidden" name="cid" value="<% if(typeof(id) !== 'undefined') { %><%= id %><% } %>">
                                
                                <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">

                                <div class="form-group catalog-delete-section">
                                    <div class="catalog-delete-section-header">
                                        <h3>Delete Catalog</h3>
                                    </div>
                                    <p class="text-legend">
                                        Remove catalog and stop showing associated product listings. Note, individual product items
                                        will remain available from their respective storefronts.
                                    </p>
                                    <div id="delete-catalog-button-container">
                                        <button id="delete-catalog-button" type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#delete-catalog-modal">Delete</button>
                                    </div>

                                    <!-- Delete Account Modal -->
                                    <div class="modal fade" id="delete-catalog-modal" tabindex="-1" role="dialog"
                                        aria-labelledby="delete-catalog-modal-title" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="delete-catalog-modal-long-title">Catalog Delete Confirmation</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="delete-modal-legend"> Are you sure?
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    function catalogClearImageValidation() {
        let imgInput = document.getElementById('edit-catalog-fullimage')
        if (imgInput) {
            imgInput.classList.remove('is-invalid')
        }
    }

    function catalogValidateImageFiles() {
        let imgInput = document.getElementById('edit-catalog-fullimage')
        let imgInputInvalidElem = document.getElementById('edit-catalog-invalid-fullimage')
        let imgFiles = imgInput.files
        let uploadLimit = <%= typeof (uploadLimit) === 'number' ? uploadLimit : 10 %>
            let uploadSize = <%= typeof (uploadSize) === 'number' ? uploadSize : 10485760 %>

        if (imgInput) {
            console.log('validating images...')
            if (imgFiles.length > uploadLimit) {
                imgInputInvalidElem.innerHTML = 'You cannot upload more than ' + uploadLimit.toString() + ' images.'
                imgInput.value = null
                imgInput.classList.add('is-invalid')
                return
            }

            let totalImgSize = 0

            for (let i = 0; i < imgFiles.length; i++) {
                totalImgSize += imgFiles[i].size
                console.log('Total image size: ' + totalImgSize.toString())
                if (totalImgSize > uploadSize) {
                    imgInputInvalidElem.innerHTML = 'Upload size limit of ' + uploadSize.toString() + ' exceeded.'
                    imgInput.value = null
                    imgInput.classList.add('is-invalid')
                    return
                }
            }
        }
    }
</script>