<main class="container">
    <section class="main-panel">
            <div class="col-sm-12 product-details-content">
                <div class="content-pane" id="edit-product-content">
                    <% if(typeof(messages.success) !== 'undefined') { %>
                    <div id="main-alert-success" class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= messages.success %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <% } %>
                    <% if(typeof(messages.info) !== 'undefined') { %>
                    <div id="main-alert-info" class="alert alert-primary alert-dismissible fade show" role="alert">
                        <%= messages.info %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <% } %>
                    <% if(typeof(messages.error) !== 'undefined') { %>
                    <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= messages.error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <% } %>
                    <div>
                        <span class="edit-heading-span">
                            <h2><%= product.displayName %></h2>
                            <a href="<% if(typeof(ref) == 'string' && ref.length > 0) { %><%= ref %><% } else { %>/market<% } %>">
                                <button class="btn btn-primary">Back to Marketplace</button>
                            </a>
                        </span>
                        <hr>
                    </div>
                    <div class="row">
                        <div id="product-images-carousel" class="product-carousel col-sm-6">
                            <% if(typeof(product.images) !== 'undefined' && Array.isArray(product.images) && product.images.length > 0) { %>
                                <figure class="featured-image">
                                    <% if(typeof(product.images[0]) !== 'undefined') { %>
                                        <img src="<% if(product.images[0].src) { %><%= product.images[0].src %><% } %>">
                                    <% } else { %>
                                        <%- include('assets/symbols/tags.svg') %>
                                    <% } %>
                                </figure>
                                <% if(product.images.length > 1) { %>
                                    <div class="product-carousel-images-row">
                                        <% for (let imgIdx=1;imgIdx<product.images.length;imgIdx++) { %>
                                            <figure class="featured-mini-image">
                                                <% if(typeof(product.images[0]) !== 'undefined') { %>
                                                <img src="<% if(product.images[imgIdx].src) { %><%= product.images[imgIdx].src %><% } %>">
                                                <% } else { %>
                                                <%- include('assets/symbols/tags.svg') %>
                                                <% } %>
                                            </figure>
                                        <% } %>
                                    </div>
                                <% } %>
                            <% } else { %>
                                <figure class="featured-image">
                                    <%- include('assets/symbols/tags.svg') %>
                                </figure>
                            <% } %>
                            <p class="featured-image-legend">Product Images</p>
                            <% if (typeof(product.specifications) !== 'undefined' && Object.keys(product.specifications).length > 0) { %>
                                <% let specKeys = Object.keys(product.specifications) %>
                                <table class="table table-striped table-hover product-specifications-table">
                                    <thead>
                                        <tr>
                                            <th scope="row" colspan="2">Specifications</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (const s of specKeys) { %>
                                        <tr><th scope="row"><%= s %></th><td><div class="table-content"><%= product.specifications[s] %></div></td></tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            <% } %>
                        </div>
                        <div class="col-sm-6">
                            <div class="product-view-card-pane">
                                <span>
                                    <div class="item-card product-details-card">
                                        <div class="item-card-right extra-info">
                                            <h4>Description</h4>
                                            <p><%= product.description %></p>
                                            <h4>Availability</h4>
                                            <p>
                                                <% if(typeof(product.quantity) !== 'undefined' &&  product.quantity > 0 ) { %>
                                                <%= 'In Stock' %>
                                                <% } else if(product.quantity < 0) { %>
                                                &infin;
                                                <% } else { %>
                                                <%= 'Out of Stock' %>
                                                <% } %>
                                            </p>
                                        </div>
                                        <div class="add-to-bag-button-container">
                                            <form class="add-to-bag-form" method="POST" action="/market/product">
                                            <fieldset <% if(product.quantity == 0) { %>disabled="disabled<% } %>>
                                                    <input type="hidden" name="action" value="add_or_buy">
                                                    <input type="hidden" name="pid"
                                                        value="<% if(typeof(products._id) !== 'undefined') { %><%= products._id %><% } %>">

                                                    <input type="hidden" name="uid" value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                                                    <div class="input-group mb-3">
                                                        <div class="form-group form-inline">
                                                            <input class="form-control small-input-control product-quantity-input spc-top-1" type="number" name="quantity" min="1" step="1" size="3" value="1">
                                                            <button class="btn btn-secondary add-to-bag-button spc-top-1" type="submit" data-toggle="tooltip"
                                                                data-placement="bottom" title="Add item to bag" name="addtobag" value="Add">
                                                                Add to Shopping Bag
                                                            </button>
                                                            <button class="btn btn-primary spc-top-1" type="submit" data-toggle="tooltip" data-placement="bottom" title="Order this item"
                                                                name="buy" value="Buy">
                                                                Buy Now
                                                            </button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>
