<main class="container">
	<section class="main-panel">
        <div class="row">
            <div class="col-3 flex-column flex-sm-row sidebar">
                <div class="list-group flex-column" id="seller-tablist" role="tablist">
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'sf') { %>active<% } %>" id="storefronts-tab" data-toggle="list" role="tab" aria-controls="storefronts" aria-selected="false" href="#storefronts-pane"><%- include('assets/symbols/shop.svg') %>Shops</a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'pd' || pane == 'in' || pane == 'pd-new') { %>active<% } %>" id="products-tab" data-toggle="list" role="tab" aria-controls="products" aria-selected="true" href="#products-pane"><%- include('assets/symbols/tags.svg') %>Products</a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'cl') { %>active<% } %>"
                        id="catalogs-tab" data-toggle="list" role="tab" aria-controls="catalogs" aria-selected="true"
                        href="#catalogs-pane"><%- include('assets/symbols/library.svg') %>Catalogs</a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'freight') { %>active<% } %>"
                        id="freight-tab" data-toggle="list" role="tab" aria-controls="orders" aria-selected="false"
                        href="#freight-pane">
                        <%- include('assets/symbols/crane.svg') %>Shipments
                    </a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'pkg') { %>active<% } %>"
                        id="deliveries-tab" data-toggle="list" role="tab" aria-controls="orders" aria-selected="false"
                        href="#deliveries-pane">
                        <%- include('assets/symbols/package.svg') %>Deliveries
                    </a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'or') { %>active<% } %>" id="orders-tab" data-toggle="list" role="tab" aria-controls="orders" aria-selected="false" href="#orders-pane"><%- include('assets/symbols/order sheet.svg') %>Invoices</a>
                    <a class="list-group-item list-group-item-action sidebar-item <% if(typeof(pane) !== 'undefined' && pane == 'py') { %>active<% } %>" id="payments-tab" data-toggle="list" role="tab" aria-controls="payments" aria-selected="false" href="#seller-payments-pane"><%- include('assets/symbols/coin.svg') %>Payments</a>
                </div>
            </div>
            <div class="col-9 main-content">
                <div class="content-pane tab-content" id="seller-tab-content">
                    <% if(typeof(messages.success) !== 'undefined') { %>
                        <div id="main-alert-success" class="alert alert-success alert-dismissible fade show" role="alert">
                            <%= messages.success %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                    <% } %>
                    <% if(typeof(messages.info) !== 'undefined') { %>
                        <div id="main-alert-info" class="alert alert-primary alert-dismissible fade show" role="alert">
                            <%= messages.info %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                    <% } %>
                    <% if(typeof(messages.error) !== 'undefined') { %>
                        <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= messages.error %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                    <% } %>
                    <%- include('partials/_storefront.ejs') %>
                    <%- include('partials/_product_info.ejs') %>
                    <%- include('partials/_product_catalog.ejs') %>
                    <%- include('partials/_freight.ejs') %>
                    <%- include('partials/_deliveries.ejs', {hidePreAlert: true}) %>
                    <%- include('partials/_orders.ejs') %>
                    <%- include('partials/_seller_payments.ejs') %>
                </div>
            </div>
        </div>
    </section>
</main>
