<main class="container market-container">
    <section class="main-panel">
        <div class="col-12 main-content marketplace">
            <div class="marketplace-content-pane" id="edit-storefront-content">
                <% if(typeof(messages.success) !== 'undefined') { %>
                <div id="main-alert-success" class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= messages.success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <% if(typeof(messages.info) !== 'undefined') { %>
                <div id="main-alert-info" class="alert alert-primary alert-dismissible fade show" role="alert">
                    <%= messages.info %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <% if(typeof(messages.error) !== 'undefined') { %>
                <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= messages.error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <div class="row">
                </div>
            </div>
            <%- include('./partials/_dashnav.ejs', {activeRecNavLink: 'shops'}) %>
            <% if (typeof(shops) !== 'undefined' && Array.isArray(shops) && shops.length > 0) { %>
            <div class="content-pane-scroll-cards-section catalog-item-container product-card-container">
                <% for(let j=0;j<shops.length;j++) { %>
                <a href="/market/seller/?s=<%= shops[j]._id %>" class="card catalog-item-card product-card <% if(shops.length == 2) { %>product-card-double<% } else if(shops.length == 1) { %>product-card-single<% } %>">
                    <div class="card-body">
                        <div class="actionable-card-pane">
                            <div class="catalog-view-card-pane">
                                <ul>
                                    <li>
                                        <span>
                                            <div class="item-card-label">
                                                <div class="catalog-item-card-section">
                                                    <% if(typeof(shops[j].images) !== 'undefined' && Array.isArray(shops[j].images) && shops[j].images.length > 0) { %>
                                                        <figure class="product-card-image shop-card-image">
                                                            <img alt="<%= shops[j].images[0].originalname %>"
                                                        src="<%= shops[j].images[0].src %>" />
                                                        </figure>
                                                    <% } else { %>
                                                    <figure class="product-card-image shop-card-image">
                                                        <%- include('partials/_shop_image_object.ejs') %>
                                                    </figure>
                                                    <% } %>
                                                    <p class="item-card-label">
                                                        <b><% if(shops[j].displayName.length <= 20) { %><%= shops[j].displayName.slice(0,20) %><% } else { %><%= shops[j].displayName.slice(0,20) + '...' %><% } %></b>
                                                    </p>
                                                </div>
                                            </div>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
                <% } %>
            </div>
            <% } else { %>
            <div class="catalog-item-container">
                <div class="catalog-no-items-card">
                    <p>No shops available.</p>
                </div>
            </div>
            <% } %>
        </div>
        <nav class="market-pagenav" aria-label="Catalog Listing">
            <% if (typeof(shop_pages) !== 'undefined' && shop_pages > 0) { %>
            <ul class="pagination text-center">
                <% if (typeof(current_page) !== 'undefined' ) { %>
                <% if (current_page == 1) { %>
                <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/market/shops/1">First</a></li>
                <% } %>
        
                <% let i = (Number(current_page) > 5 ? Number(current_page) - 4 : 1) %>
        
                <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
        
                <% for (; i <= (Number(current_page) + 4) && i <= shop_pages; i++) { %>
                <% if (i == current_page) { %>
                <li class="page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/market/shops/<%= i %>"><%= i %></a></li>
                <% } %>
        
                <% if (i == Number(current_page) + 4 && i < shop_pages) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% } %>
        
                <% if (current_page == shop_pages) { %>
                <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/market/shops/<%= shop_pages %>">Last</a></li>
                <% } %>
                <% } %>
            </ul>
            <% } %>
        </nav>
    </section>
</main>