<main class="container shopping-bag-container">
    <section class="main-panel">
        <div class="col-12 main-content shopping-bag-content">
            <div class="content-pane shopping-bag-content-pane">
                <% if(typeof(messages.success) !== 'undefined') { %>
                <div id="main-alert-success" class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= messages.success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <% if(typeof(messages.info) !== 'undefined') { %>
                <div id="main-alert-info" class="alert alert-primary alert-dismissible fade show" role="alert">
                    <%= messages.info %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <% if(typeof(messages.error) !== 'undefined') { %>
                <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= messages.error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <div>
                    <span class="edit-heading-span">
                    <h2><% if(typeof(user) !== 'undefined' && typeof(user.name) !== 'undefined' && user.name.givenName) { %><%= user.name.givenName + "'s" %><% } else { %>Your<% } %> Shopping Bag</h2>
                    <a href="<% if(typeof(ref) == 'string' && ref.length > 0) { %><%= ref %><% } else { %>/market<% } %>">
                            <button class="btn btn-primary">Back to Marketplace</button>
                        </a>
                    </span>
                    <hr>
                </div>
                <div class="shopping-bag-header">
                    <h2>
                        <b>Total is <% if(typeof(user) !== 'undefined' && typeof(user.bag) !== 'undefined') { %>
                        <% } else { %>
                            <% if(typeof(currency_symbol) == 'string') { %><%= currency_symbol %>
                            <% } else { %>$<% } %> 0.00 <% if(typeof(currency) == 'string') { %><%= currency + '.' %>
                            <% } else { %>USD.<% } %><% } %></b>
                    </h2>
                    <a href="/checkout">
                        <button class="btn btn-primary shopping-bag-checkout">Checkout</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>