<main class="container shopping-bag-container">
    <section class="main-panel">
        <div class="col-12 main-content shopping-bag-content">
            <div class="content-pane shopping-bag-content-pane">
                <% if(typeof(messages.success) !== 'undefined') { %>
                <div id="main-alert-success" class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= messages.success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <% if(typeof(messages.info) !== 'undefined') { %>
                <div id="main-alert-info" class="alert alert-primary alert-dismissible fade show" role="alert">
                    <%= messages.info %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <% if(typeof(messages.error) !== 'undefined') { %>
                <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= messages.error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <div>
                    <span class="edit-heading-span">
                    <h2><% if(typeof(user) !== 'undefined' && typeof(user.name) !== 'undefined' && user.name.givenName) { %><%= user.name.givenName + "'s" %><% } else { %>Your<% } %> Shopping Bag</h2>
                    <a href="<% if(typeof(ref) == 'string' && ref.length > 0) { %><%= ref %><% } else { %>/market<% } %>">
                            <button class="btn btn-primary">Back to Market</button>
                        </a>
                    </span>
                    <hr>
                </div>
                <div class="shopping-bag-header">
                    <h2>
                        <% if(typeof(bag) !== 'undefined') { %>
                            <b>Total is <% if(typeof(bag.currency) !== 'undefined' && bag.currency && typeof(bag.currency.symbol) !== 'undefined') { %><%= bag.currency.symbol %>
                            <% } else { %>$<% } %><%= formatter.roundNumber(Number(bag.total()),2) %><% if(typeof(bag.currency) !== 'undefined' && bag.currency && typeof(bag.currency.code) !== 'undefined' && bag.currency.code) { %><%= ' ' + bag.currency.code + '.' %>
                            <% } %></b>
                        <% } else { %>
                            Your bag is empty.
                        <% } %>
                    </h2>
                    <a href="/checkout">
                        <button class="btn btn-primary shopping-bag-checkout">Proceed to checkout</button>
                    </a>
                </div>
                <% if(typeof(bag) !== 'undefined') { %>
                    <div class="shopping-bag-itemslist">
                        <% for (const product of Object.keys(bag.items)) { %>
                            <div>
                                <span>
                                    <div class="item-card shopping-bag-item-card" data-product-id="<%= product %>">
                                        <div class="shopping-bag-item-card-divider">
                                            <a class="shopping-bag-item-product-link" href="/market/product/?p=<%= product %>">
                                                <span class="shopping-bag-item-row extra-info">
                                                    <h3 class="shopping-bag-item-name spc-top-1"><%= bag.items[product].displayName %></h3>
                                                    <div class="item-card-left shopping-bag-item-image">
                                                        <% if(bag.items[product] && typeof(bag.items[product].image) !== 'undefined' && bag.items[product].image) { %>
                                                            <figure class=" shopping-bag-product-image">
                                                                <img alt="<%= bag.items[product].image.originalname %>" class=""
                                                                    src="<%= bag.items[product].image.src %>" />
                                                            </figure>
                                                        <% } else { %>
                                                        <figure class=" shopping-bag-product-image">
                                                            <%- include('partials/_product_image_object.ejs') %>
                                                        </figure>
                                                        <% } %>
                                                    </div>
                                                    <h4 class="spc-top-1"><%= bag.items[product].qty + ' x ' %></h4>
                                                    <h4 class="spc-top-1"><%= formatter.roundNumber(Number(bag.items[product].price), 2) %></h4>
                                                </span>
                                            </a>
                                            <div class="remove-from-bag-button-container">
                                                <form class="remove-from-bag-form" method="POST" action="/user/bag">
                                                    <fieldset>
                                                        <input type="hidden" name="action" value="delete_from_bag">
                                                        <input type="hidden" name="pid" value="<% if(typeof(product) !== 'undefined') { %><%= product %><% } %>">
                                                        <input type="hidden" name="uid" value="<% if(typeof(user) !== 'undefined') { %><%= user.id %><% } %>">
                                                        <input type="hidden" name="quantity" value="<%= bag.items[product].price %>">
                                                        <button class="btn btn-secondary remove-from-bag-button" type="submit" data-toggle="tooltip"
                                                            data-placement="bottom" title="Remove item from shopping bag" name="removefrombag" value="Remove">
                                                            Remove
                                                        </button>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="shopping-bag-footer">
                        <a href="/checkout">
                            <button class="btn btn-primary">Checkout</button>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
</main>